Repository mesonbuild/meson, pull requests merged in 2019-07, with the labels that each got.

#5560 add clang c_std=c18 alias
  mesonbuild/compilers/c.py
  mesonbuild/mesonlib.py
  run_unittests.py
Labels: compilers, enhancement

#5641 unit tests: Don't keep builddirs inside source tree on Cygwin
  run_unittests.py
Labels: WIP

#5678 CI: azure cygwin cmake 3.14.5
  azure-pipelines.yml
Labels: CI, cmake

#5424 Add optional progress bar when generating build.ninja
  mesonbuild/backend/ninjabackend.py
  mesonbuild/compilers/compilers.py
  mesonbuild/mesonlib.py
  mesonbuild/wrap/wrap.py
  setup.py
Labels: enhancement

#5734 Flang: Fortran project_tests fixes
  mesonbuild/compilers/fortran.py
  mesonbuild/dependencies/misc.py
  test cases/fortran/13 coarray/meson.build
Labels: compilers

#5731 PGI: cpp_pch precompiled headers functionality
  mesonbuild/compilers/cpp.py
  mesonbuild/compilers/mixins/pgi.py
  test cases/common/13 pch/c/meson.build
  test cases/common/13 pch/cpp/prog.cc
  test cases/common/13 pch/generated/meson.build
  test cases/common/13 pch/meson.build
  test cases/common/13 pch/mixed/meson.build
  test cases/common/13 pch/withIncludeDirectories/meson.build
Labels: compilers, enhancement

#5679 DOC: meson test: multiple --suite
  docs/markdown/Unit-tests.md
  mesonbuild/mtest.py
Labels: documentation

#5733 PGI: correct Fortran so that Fortran run_project_tests.py pass
  mesonbuild/compilers/mixins/clike.py
  mesonbuild/compilers/mixins/pgi.py
  mesonbuild/dependencies/misc.py
  test cases/common/190 openmp/meson.build
  test cases/common/223 source set realistic example/meson.build
  test cases/fortran/13 coarray/meson.build
  test cases/fortran/14 fortran links c/meson.build
  test cases/fortran/6 dynamic/meson.build
Labels: bug, compilers
