Repository mesonbuild/meson, pull requests merged in 2019-10, with the labels that each got.

#5992 cmake: fix detection of libraries with .so version
  mesonbuild/cmake/interpreter.py
  mesonbuild/compilers/compilers.py
  test cases/cmake/2 advanced/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/3 advanced no dep/subprojects/cmMod/CMakeLists.txt
Labels: cmake

#6017 BUGFIX: environment.py CudaCompiler and Intel-Cl
  mesonbuild/compilers/fortran.py
  mesonbuild/environment.py
Labels: regression

#6025 cmake: Blacklist MS debug flags (fixes #6021)
  mesonbuild/cmake/interpreter.py
Labels: cmake

#6032 environment: Fix detection of xild with icc
  mesonbuild/environment.py
Labels: bug, regression

#6067 xcode 64 bit for catalina
  mesonbuild/backend/xcodebackend.py
Labels: bug, compilers, macos

#6072 Documentation: Extend example for precompiled headers
  docs/markdown/Precompiled-headers.md
Labels: documentation

#6081 cmake: Blacklist more compiler warning flags
  mesonbuild/cmake/interpreter.py
  test cases/cmake/13 system includes/main.cpp
  test cases/cmake/13 system includes/meson.build
  test cases/cmake/13 system includes/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/13 system includes/subprojects/cmMod/cmMod.cpp
  test cases/cmake/13 system includes/subprojects/cmMod/cmMod.hpp
  test cases/cmake/13 system includes/subprojects/cmMod/sysInc/triggerWarn.hpp
Labels: cmake

#6074 cmake: Add CMake file API support
  mesonbuild/cmake/__init__.py
  mesonbuild/cmake/client.py
  mesonbuild/cmake/common.py
  mesonbuild/cmake/fileapi.py
  mesonbuild/cmake/interpreter.py
  mesonbuild/cmake/traceparser.py
  run_project_tests.py
Labels: cmake
