Repository mesonbuild/meson, pull requests merged in 2019-12, with the labels that each got.

#6271 doc: update travis-CI info and add GitHub Actions example [skip ci]
  docs/markdown/Continuous-Integration.md
Labels: documentation

#6275 intel/intel-cl: use expected buildtype options
  mesonbuild/compilers/fortran.py
  mesonbuild/compilers/mixins/intel.py
Labels: compilers

#6274 mtest: document default MALLOC_PERTURB_=1..255 behavior
  docs/markdown/Reference-manual.md
  docs/markdown/Unit-tests.md
Labels: documentation

#6238 wrap: working to improve security
  manual tests/1 wrap/main.c
  manual tests/10 svn wrap/prog.c
  manual tests/11 wrap imposter/meson.build
  manual tests/11 wrap imposter/subprojects/zlib.wrap
  manual tests/12 wrap mirror/meson.build
  manual tests/12 wrap mirror/subprojects/zlib.wrap
  manual tests/3 git wrap/prog.c
  manual tests/4 standalone binaries/myapp.cpp
  manual tests/5 rpm/main.c
  manual tests/6 hg wrap/prog.c
  manual tests/8 timeout/sleepprog.c
  mesonbuild/modules/rpm.py
  mesonbuild/wrap/wrap.py
Labels: subprojects/wraps

#6228 deps: add Scalapack
  .github/workflows/ci_frameworks.yml
  .github/workflows/frameworks.yml
  ciimage/Dockerfile
  docs/markdown/snippets/scalapack.md
  mesonbuild/dependencies/__init__.py
  mesonbuild/dependencies/base.py
  mesonbuild/dependencies/scalapack.py
  run_project_tests.py
  test cases/frameworks/30 scalapack/cmake/FindSCALAPACK.cmake
  test cases/frameworks/30 scalapack/main.c
  test cases/frameworks/30 scalapack/main.f90
  test cases/frameworks/30 scalapack/meson.build
Labels: dependencies

#6252 run_project_tests: --only uses argparse choices
  run_project_tests.py
Labels: meson tests

#6310 types: Add type annotatins to mintro.py
  .github/workflows/lint_mypy.yml
  mesonbuild/mintro.py
Labels: refactoring

#6319 azure: Fix vs2015
  azure-pipelines.yml
  ci/azure-steps.yml
Labels: CI

#6320 Cmake: popen_safe(..., errors='ignore')
  mesonbuild/cmake/executor.py
Labels: cmake

#6321 dep: Try extraframework before cmake (fixes #6113)
  mesonbuild/dependencies/base.py
Labels: cmake, dependencies, macos

#6288 mintro: Add version key to --scan-dependencies (fixes #6287)
  docs/markdown/IDE-integration.md
  docs/markdown/snippets/introspect.md
  mesonbuild/ast/introspection.py
  mesonbuild/mintro.py
  run_unittests.py
  test cases/unit/57 introspection/meson.build
Labels: introspection

#6334 ci fortran: add case where buildtype=release and warning_level=3
  test cases/fortran/20 buildtype/main.f90
  test cases/fortran/20 buildtype/meson.build
Labels: CI, fortran

#6344 default inc dirs: Fix warning on MSYS (fixes #6336)
  mesonbuild/compilers/mixins/gnu.py
Labels: compilers, windows

#6347 ci cmake: Windows link.exe skip due to symbol issues
  test cases/cmake/5 object library/main.cpp
  test cases/cmake/5 object library/meson.build
  test cases/cmake/5 object library/subprojects/cmObjLib/CMakeLists.txt
  test cases/cmake/5 object library/subprojects/cmObjLib/libA.cpp
  test cases/cmake/5 object library/subprojects/cmObjLib/libB.cpp
  test cases/cmake/6 object library no dep/main.cpp
  test cases/cmake/6 object library no dep/meson.build
  test cases/cmake/6 object library no dep/subprojects/cmObjLib/CMakeLists.txt
  test cases/cmake/6 object library no dep/subprojects/cmObjLib/libA.cpp
  test cases/cmake/6 object library no dep/subprojects/cmObjLib/libB.cpp
Labels: CI

#4325 PkgConfigDependency: Sort -L flags according to PKG_CONFIG_PATH
  mesonbuild/dependencies/base.py
  run_unittests.py
Labels: dependencies, pkgconfig

#6348 add compiler.get_linker_id() method
  docs/markdown/Compiler-properties.md
  docs/markdown/Reference-manual.md
  docs/markdown/Reference-tables.md
  docs/markdown/snippets/get_linker_id.md
  mesonbuild/compilers/compilers.py
  mesonbuild/interpreter.py
  test cases/common/31 compiler id/meson.build
Labels: compilers

#6355 dependencies: refactor {coarray,mpi,hdf5,netcdf} to use dependency(.., methods: ...)
  mesonbuild/dependencies/coarrays.py
  mesonbuild/dependencies/hdf5.py
  mesonbuild/dependencies/misc.py
  mesonbuild/dependencies/mpi.py
  mesonbuild/dependencies/scalapack.py
  test cases/fortran/13 coarray/meson.build
  test cases/frameworks/25 hdf5/meson.build
  test cases/frameworks/26 netcdf/meson.build
  test cases/frameworks/30 scalapack/meson.build
Labels: dependencies

#6381 bugfix: check len before index re #6228
  mesonbuild/dependencies/base.py
Labels: bug, dependencies

#6380 refactor/doc: cuda tests
  docs/markdown/Contributing.md
  run_project_tests.py
  test cases/cuda/1 simple/prog.cu
  test cases/cuda/10 cuda dependency/c/prog.c
  test cases/cuda/11 cuda dependency (nvcc)/modules/prog.cu
  test cases/cuda/11 cuda dependency (nvcc)/version_reqs/prog.cu
  test cases/cuda/12 cuda dependency (mixed)/kernel.cu
  test cases/cuda/12 cuda dependency (mixed)/prog.cpp
  test cases/cuda/2 split/lib.cu
  test cases/cuda/2 split/main.cpp
  test cases/cuda/2 split/static/main_static.cpp
  test cases/cuda/3 cudamodule/prog.cu
  test cases/cuda/4 shared/main.cu
  test cases/cuda/5 threads/main.cu
  test cases/cuda/6 std/main.cu
  test cases/cuda/7 static vs runtime/main.cu
  test cases/cuda/8 release/main.cu
  test cases/cuda/9 optimize for space/main.cu
Labels: CI, refactoring

#6379 bugfix: netcdf pkgconfig stop if found
  mesonbuild/dependencies/misc.py
Labels: dependencies, regression

#6388 cmake: Use trace for missing link flags (fixes #6386)
  mesonbuild/cmake/interpreter.py
  mesonbuild/cmake/traceparser.py
  test cases/cmake/16 threads/main.cpp
  test cases/cmake/16 threads/meson.build
  test cases/cmake/16 threads/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/16 threads/subprojects/cmMod/cmMod.cpp
  test cases/cmake/16 threads/subprojects/cmMod/cmMod.hpp
  test cases/cmake/16 threads/subprojects/cmMod/main.cpp
  test cases/cmake/2 advanced/meson.build
  test cases/cmake/2 advanced/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/3 advanced no dep/meson.build
  test cases/cmake/3 advanced no dep/subprojects/cmMod/CMakeLists.txt
Labels: cmake
