Repository mesonbuild/meson, pull requests merged in 2020-03, with the labels that each got.

#6718 coredata: init_builtins should always call libdir_cross_fixup
  mesonbuild/coredata.py
Labels: regression

#6316 types: Annotations for ast, mparser.py, interpreterbase.py
  .github/workflows/lint_mypy.yml
  mesonbuild/ast/interpreter.py
  mesonbuild/ast/introspection.py
  mesonbuild/ast/postprocess.py
  mesonbuild/ast/printer.py
  mesonbuild/ast/visitor.py
  mesonbuild/cmake/interpreter.py
  mesonbuild/interpreter.py
  mesonbuild/interpreterbase.py
  mesonbuild/mesonlib.py
  mesonbuild/mintro.py
  mesonbuild/mparser.py
  mesonbuild/optinterpreter.py
  mesonbuild/rewriter.py
  run_unittests.py
Labels: refactoring

#6751 ast: Implement dummy evaluate_notstatement
  mesonbuild/ast/interpreter.py
  test cases/unit/57 introspection/meson.build
Labels: introspection

#6741 cmake: Fix build_by_default: false, install: true (fixes #6737)
  mesonbuild/cmake/interpreter.py
  test cases/cmake/3 advanced no dep/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/3 advanced no dep/test.json
Labels: cmake, subprojects/wraps

#6356 Fix d compiler abstractions
  .travis.yml
  docs/markdown/Contributing.md
  mesonbuild/compilers/compilers.py
  mesonbuild/compilers/d.py
  mesonbuild/compilers/mixins/visualstudio.py
  mesonbuild/environment.py
  mesonbuild/linkers.py
  run_project_tests.py
  test cases/d/1 simple/test.json
  test cases/d/2 static library/test.json
  test cases/d/3 shared library/lld-test.py
  test cases/d/3 shared library/meson.build
  test cases/d/3 shared library/sub/libstuff.d
  test cases/d/3 shared library/sub/meson.build
  test cases/d/3 shared library/test.json
  test cases/d/4 library versions/test.json
  test cases/d/5 mixed/test.json
  test cases/d/6 unittest/test.json
  test cases/d/7 multilib/test.json
Labels: D language

#6777 docs: Document from_builtype mapping for b_vscrt
  docs/markdown/Builtin-options.md
Labels: documentation

#6772 docs: Document that ldc now supports linker overriding [skip ci]
  docs/markdown/snippets/ldc_linker_override.md
Labels: documentation

#6779 Allow setting linker for GDC as well as LDC
  docs/markdown/snippets/ldc_linker_override.md
  mesonbuild/compilers/d.py
  run_unittests.py
Labels: D language

#6796 compilers: Link D runtime/libphobos dynamically on !Windows
  mesonbuild/compilers/compilers.py
  mesonbuild/compilers/d.py
Labels: D language

#6596 cmake: Add find_package COMPONENTS support
  docs/markdown/Dependencies.md
  docs/markdown/Reference-manual.md
  docs/markdown/snippets/cmake_comps.md
  mesonbuild/dependencies/base.py
  mesonbuild/dependencies/data/CMakeLists.txt
  mesonbuild/dependencies/dev.py
  mesonbuild/interpreter.py
  test cases/linuxlike/13 cmake dependency/cmake/FindSomethingLikeZLIB.cmake
  test cases/linuxlike/13 cmake dependency/meson.build
Labels: cmake, dependencies

#6580 dependencies: Convert ScaLAPACK to a dependency factory
  mesonbuild/dependencies/__init__.py
  mesonbuild/dependencies/scalapack.py
Labels: dependencies

#6544 Use DependencyFactory and ConfigToolDependency for MPI
  docs/markdown/Dependencies.md
  mesonbuild/dependencies/__init__.py
  mesonbuild/dependencies/base.py
  mesonbuild/dependencies/mpi.py
  mesonbuild/dependencies/ui.py
  test cases/frameworks/17 mpi/meson.build
  test cases/frameworks/17 mpi/meson_options.txt
Labels: dependencies

#6832 compilers: Clang can take linkers that are paths
  mesonbuild/compilers/mixins/clang.py
Labels: compilers, regression

#6855 boost: boost_python detection improvements
  mesonbuild/dependencies/boost.py
  test cases/frameworks/1 boost/meson.build
Labels: boost

#6830 docs/markdown: Add a new page with common cross/native file options [skip ci]
  docs/markdown/Cross-compilation.md
  docs/markdown/Machine-files.md
  docs/markdown/Native-environments.md
  docs/sitemap.txt
Labels: documentation

#6859 cmake: Only expand executable targets in COMMAND (fixes #6857)
  mesonbuild/cmake/interpreter.py
  test cases/cmake/8 custom command/subprojects/cmMod/CMakeLists.txt
Labels: cmake, subprojects/wraps
