Repository mesonbuild/meson, pull requests merged in 2020-08, with the labels that each got.

#7481 Make meson recognize the Qualcomm LLVM toolchain
  mesonbuild/compilers/mixins/clang.py
  mesonbuild/environment.py
  mesonbuild/linkers.py
Labels: compilers, dynamic linkers

#7547 cmake: Do not split CMAKE_PREFIX_PATH with ':' on Windows
  mesonbuild/cmake/executor.py
Labels: cmake, regression, windows

#7546 cmake: Use the DEBUG config when linking to the debug CRT
  mesonbuild/dependencies/base.py
Labels: cmake, windows

#7527 cmake: resolve IMPORTED executables in custom commands (fixes #7509)
  mesonbuild/cmake/interpreter.py
  mesonbuild/cmake/traceparser.py
  test cases/cmake/11 cmake_module_path/cmake/FindSomethingLikePython.cmake
  test cases/cmake/11 cmake_module_path/meson.build
  test cases/cmake/11 cmake_module_path/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/11 cmake_module_path/subprojects/cmMod/gen.py
  test cases/cmake/11 cmake_module_path/test.json
Labels: cmake, subprojects/wraps

#7557 cmake: Fix failing test case. Followup to #7527.
  test cases/cmake/11 cmake_module_path/meson.build
Labels: cmake

#7562 cmake: make the traceparser permissive by default (fixes #7501)
  mesonbuild/cmake/traceparser.py
  test cases/linuxlike/13 cmake dependency/cmake/FindSomethingLikeZLIB.cmake
Labels: cmake, dependencies

#7446 common/234: avoid intermittent failure by dynamic path length generation
  test cases/common/234 very long commmand line/codegen.py
  test cases/common/234 very long commmand line/main.c
  test cases/common/234 very long commmand line/meson.build
  test cases/common/234 very long commmand line/name_gen.py
  test cases/common/234 very long commmand line/seq.py
Labels: meson tests, windows

#7563 completions/zsh: Add --native-file
  data/shell-completions/zsh/_meson
Labels: shell completions

#7569 cmake: Make the CMake targte not found error more useful (see #7567)
  mesonbuild/modules/cmake.py
Labels: cmake, subprojects/wraps

#7570 cmake: Detect custom command targets in compiler args
  mesonbuild/cmake/interpreter.py
  test cases/cmake/8 custom command/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/8 custom command/subprojects/cmMod/cpyInc.hpp.am
  test cases/cmake/8 custom command/subprojects/cmMod/macro_name.cpp
Labels: cmake, subprojects/wraps

#7556 msvc: enable /std:c11 flag
  mesonbuild/compilers/c.py
Labels: backend:visualstudio, compilers

#7549 cmake: Fix hard-coded values in fake CMakeLists for MSVC
  mesonbuild/cmake/executor.py
Labels: cmake, windows

#7588 mtest: Actually call colorize_console()
  mesonbuild/mtest.py
Labels: test targets

#7591 docs: Clarify some FAQs in the Tutorial [skip ci]
  docs/markdown/Tutorial.md
Labels: documentation

#7598 ninjabackend: Fix coverage rule generation
  mesonbuild/backend/ninjabackend.py
  run_unittests.py
Labels: backend:ninja, regression

#7642 test: Add 'dir' support for installed files in test.json
  data/test.schema.json
  docs/markdown/Contributing.md
  run_project_tests.py
  test cases/frameworks/14 doxygen/test.json
  test cases/frameworks/23 hotdoc/test.json
Labels: CI

#7639 Fix typo when fetching buildtype option for compiler checks
  mesonbuild/compilers/mixins/clike.py
  run_unittests.py
Labels: regression, windows

#7651 tests: make chdir more robust in run_unittests.py
  run_unittests.py
Labels: CI

#7655 D: fix include order
  mesonbuild/compilers/d.py
  run_unittests.py
Labels: D language, compilers
