Repository mesonbuild/meson, pull requests merged in 2020-10, with the labels that each got.

#7807 docs: Fixup find_program search path documentation [skip ci]
  docs/markdown/Reference-manual.md
Labels: documentation

#7834 typing: fix mypy typing error
  tools/boost_names.py
Labels: CI, typing

#7587 mtest: Allow filtering tests by subproject
  docs/markdown/snippets/mtest_test_list_subprojects.md
  mesonbuild/interpreter.py
  mesonbuild/mtest.py
Labels: test targets

#7816 cmake: Cross compilation support
  .github/workflows/nonative.yml
  .travis.yml
  ci/travis_script.sh
  cross/linux-mingw-w64-32bit.json
  cross/linux-mingw-w64-32bit.txt
  cross/linux-mingw-w64-64bit.json
  cross/linux-mingw-w64-64bit.txt
  cross/ubuntu-armhf.json
  docs/markdown/CMake-module.md
  docs/markdown/Machine-files.md
  docs/markdown/snippets/cmake_cross.md
  mesonbuild/cmake/__init__.py
  mesonbuild/cmake/client.py
  mesonbuild/cmake/common.py
  mesonbuild/cmake/executor.py
  mesonbuild/cmake/interpreter.py
  mesonbuild/cmake/toolchain.py
  mesonbuild/dependencies/base.py
  mesonbuild/envconfig.py
  mesonbuild/environment.py
  run_cross_test.py
  run_project_tests.py
  run_unittests.py
  test cases/cmake/2 advanced/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/2 advanced/test.json
  test cases/cmake/22 cmake module/cmake_project/CMakeLists.txt
  test cases/cmake/22 cmake module/meson.build
  test cases/cmake/22 cmake module/projectConfig.cmake.in
  test cases/cmake/22 cmake module/test.json
  test cases/cmake/23 cmake toolchain/CMakeToolchain.cmake
  test cases/cmake/23 cmake toolchain/meson.build
  test cases/cmake/23 cmake toolchain/nativefile.ini.in
  test cases/cmake/23 cmake toolchain/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/3 advanced no dep/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/3 advanced no dep/test.json
  test cases/cmake/4 code gen/subprojects/cmCodeGen/CMakeLists.txt
  test cases/cmake/7 cmake options/test.json
Labels: cmake, subprojects/wraps

#7844 intro: Add extra_files key to intro output (fixes #7310)
  docs/markdown/IDE-integration.md
  docs/markdown/snippets/intro_extra_files.md
  mesonbuild/ast/introspection.py
  mesonbuild/backend/backends.py
  mesonbuild/build.py
  mesonbuild/mintro.py
  run_unittests.py
  test cases/unit/57 introspection/sharedlib/meson.build
  test cases/unit/57 introspection/staticlib/meson.build
  test cases/unit/57 introspection/staticlib/static.h
Labels: introspection

#7859 cmake: ignore CMAKE_TOOLCHAIN_FILE and CMAKE_PROJECT_INCLUDE
  mesonbuild/cmake/__init__.py
  mesonbuild/cmake/common.py
  mesonbuild/cmake/interpreter.py
  mesonbuild/dependencies/base.py
Labels: cmake

#7910 environment: Fix detection of swift linker
  mesonbuild/environment.py
Labels: CI, dynamic linkers, language:swift
