Repository mesonbuild/meson, pull requests merged in 2020-12, with the labels that each got.

#8103 Fix some layering violations and add some type annotations in the interpreter
  mesonbuild/build.py
  mesonbuild/interpreter.py
Labels: refactoring, typing

#8096 cmake: Revert to using self.for_machine instead of MachineChoice.BUILD (fixes #8028)
  cross/linux-mingw-w64-32bit.txt
  cross/linux-mingw-w64-64bit.txt
  mesonbuild/cmake/interpreter.py
  mesonbuild/dependencies/base.py
Labels: cmake, dependencies

#8119 Implement support of dlang -makedeps switch
  mesonbuild/compilers/d.py
  mesonbuild/environment.py
Labels: language:D

#8134 cmake: fix -framework dependencies (fixes #8045)
  mesonbuild/cmake/interpreter.py
  test cases/cmake/2 advanced/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/2 advanced/subprojects/cmMod/lib/cmMod.cpp
Labels: OS:macos, cmake, subprojects/wraps
