Repository mesonbuild/meson, pull requests merged in 2020-11, with the labels that each got.

#7912 gnome: Tweak error message
  mesonbuild/modules/gnome.py
Labels: module:gnome

#7934 rust: implement support for --edition
  docs/markdown/snippets/rust_std_option.md
  mesonbuild/backend/ninjabackend.py
  mesonbuild/compilers/rust.py
  test cases/rust/10 language stds/2015.rs
  test cases/rust/10 language stds/2018.rs
  test cases/rust/10 language stds/meson.build
Labels: language:rust

#7965 Migrate osx CI from travis to github actions
  .github/workflows/ci_frameworks.yml
  .github/workflows/macos.yml
  .github/workflows/msys2.yml
  .travis.yml
  ci/travis_install.sh
  ci/travis_script.sh
  run_unittests.py
  test cases/common/28 multiline string/meson.build
  test cases/frameworks/8 flex/lexer.l
  test cases/frameworks/8 flex/parser.y
  test cases/rust/2 sharedlib/meson.build
  test cases/rust/4 polyglot/meson.build
Labels: CI, macos

#7961 Add color output support to rust
  mesonbuild/backend/ninjabackend.py
  mesonbuild/compilers/rust.py
Labels: compilers, language:rust

#7913 gnome: Handle libraries that are not in the current build dir
  mesonbuild/modules/gnome.py
  run_project_tests.py
  test cases/frameworks/34 gir static lib/meson.build
  test cases/frameworks/34 gir static lib/statichelper/meson-sample.c
  test cases/frameworks/34 gir static lib/statichelper/meson-sample.h.in
  test cases/frameworks/34 gir static lib/statichelper/meson.build
  test cases/frameworks/34 gir static lib/subdir/gir/meson-subsample.c
  test cases/frameworks/34 gir static lib/subdir/gir/meson-subsample.h
  test cases/frameworks/34 gir static lib/subdir/gir/meson.build
  test cases/frameworks/34 gir static lib/subdir/gir/prog.c
  test cases/frameworks/34 gir static lib/test.json
Labels: module:gnome

#7967 msvc: enable /std:c17 flag
  mesonbuild/compilers/c.py
  test cases/unit/59 introspect buildoptions/meson.build
Labels: backend:visualstudio, compilers

#7843 A few fixups for rust
  mesonbuild/backend/ninjabackend.py
  mesonbuild/build.py
  mesonbuild/compilers/rust.py
  mesonbuild/environment.py
  run_unittests.py
  test cases/failing/76 link with shared module on osx/test.json
Labels: language:rust

#8026 rename .lgtm.yml to reduce top-level directory ls clutter
  .lgtm.yml
Labels: CI, refactoring
