Repository mesonbuild/meson, pull requests merged in 2020-09, with the labels that each got.

#7681 docs: Add a snippet for python 3.5 deprecation [skip ci]
  docs/markdown/snippets/python35-eol.md
Labels: documentation

#7640 cmake: Don't link DEBUG to CRT when not building with MSVC
  mesonbuild/dependencies/base.py
Labels: CI, cmake

#7684 cuda: bump CUDA version since 3.0 is no longer supported
  test cases/cuda/3 cudamodule/meson.build
Labels: CI

#7694 introspect: add target ids for executable/args/depends to test and benchmark JSON
  docs/markdown/IDE-integration.md
  docs/markdown/snippets/introspect_test_deps.md
  mesonbuild/backend/backends.py
  mesonbuild/mintro.py
  run_unittests.py
  test cases/unit/57 introspection/cp.py
  test cases/unit/57 introspection/meson.build
Labels: introspection

#7690 ci: update to use latest recommendations
  .github/workflows/ci_frameworks.yml
  .github/workflows/lint_mypy.yml
  .github/workflows/os_comp.yml
Labels: CI, refactoring

#7689 correct Fortran include algorithm
  .github/workflows/unusedargs_missingreturn.yml
  mesonbuild/backend/ninjabackend.py
  test cases/fortran/15 include/include_hierarchy.f90
  test cases/fortran/15 include/include_syntax.f90
  test cases/fortran/15 include/include_tests.f90
  test cases/fortran/15 include/meson.build
  test cases/fortran/15 include/subprojects/cmake_inc/CMakeLists.txt
  test cases/fortran/15 include/subprojects/cmake_inc/main.f90
  test cases/fortran/15 include/subprojects/cmake_inc/thousand.f90
Labels: bug, language:fortran

#7716 cmake: fix shared_module dependency (fixes #7715)
  mesonbuild/cmake/interpreter.py
  test cases/cmake/21 shared module/meson.build
  test cases/cmake/21 shared module/prog.c
  test cases/cmake/21 shared module/runtime.c
  test cases/cmake/21 shared module/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/21 shared module/subprojects/cmMod/module/module.c
  test cases/cmake/21 shared module/subprojects/cmMod/module/module.h
Labels: cmake, subprojects/wraps

#7776 Add most missing zsh completions
  data/shell-completions/zsh/_meson
  mesonbuild/mdist.py
Labels: shell completions

#7794 typing: CMake module
  mesonbuild/cmake/client.py
  mesonbuild/cmake/common.py
  mesonbuild/cmake/executor.py
  mesonbuild/cmake/fileapi.py
  mesonbuild/cmake/generator.py
  mesonbuild/cmake/interpreter.py
  mesonbuild/cmake/traceparser.py
  mesonbuild/dependencies/base.py
  run_mypy.py
Labels: refactoring

#7757 Extend the Curses dependency to use config tools and hand rolled search
  azure-pipelines.yml
  docs/markdown/Dependencies.md
  docs/markdown/snippets/curses-dependency-improvements.md
  mesonbuild/dependencies/dev.py
  mesonbuild/dependencies/misc.py
  test cases/frameworks/31 curses/meson.build
  test cases/frameworks/31 curses/meson_options.txt
  test cases/frameworks/31 curses/test.json
Labels: dependencies
