Repository mesonbuild/meson, pull requests merged in 2020-02, with the labels that each got.

#6555 cmake: Sanitize CMake names (fixes #6554)
  mesonbuild/cmake/interpreter.py
  test cases/cmake/1 basic/meson.build
  test cases/cmake/1 basic/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/1 basic/subprojects/cmMod/cmMod.hpp
Labels: cmake, subprojects/wraps

#6582 cmake: Fix spaces in compile flags (fixes #6566)
  mesonbuild/cmake/traceparser.py
  run_project_tests.py
  test cases/cmake/16 threads/meson.build
  test cases/cmake/16 threads/meson_options.txt
  test cases/cmake/16 threads/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/16 threads/subprojects/cmMod/cmMod.hpp
  test cases/cmake/16 threads/test_matrix.json
Labels: cmake, subprojects/wraps

#6589 Wx widgets static
  mesonbuild/dependencies/ui.py
Labels: dependencies

#6161 add meson.get_external_property()
  docs/markdown/Reference-manual.md
  docs/markdown/snippets/native_property.md
  mesonbuild/environment.py
  mesonbuild/interpreter.py
  mesonbuild/mesonlib.py
  test cases/common/192 args flattening/meson.build
  test cases/common/229 native prop/crossfile.ini
  test cases/common/229 native prop/meson.build
  test cases/common/229 native prop/nativefile.ini
  test cases/failing/99 no native prop/meson.build
Labels: enhancement, parser/interpreter

#6535 docs: explain the purpose of order-only deps for generated files [skip ci]
  docs/markdown/Reference-manual.md
Labels: documentation

#6614 cmake: Fix crash when no C++ compiler is not installed (fixes #6559)
  mesonbuild/cmake/executor.py
Labels: cmake, dependencies

#6654 Add .found() method to cmakesubproject
  docs/markdown/CMake-module.md
  mesonbuild/modules/cmake.py
  test cases/cmake/1 basic/meson.build
  test cases/cmake/9 disabled subproject/meson.build
Labels: cmake

#6641 cmake: Ignore files that violate subproject isolation (fixes #6640)
  mesonbuild/cmake/interpreter.py
  test cases/failing build/4 cmake subproject isolation/incDir/fileA.hpp
  test cases/failing build/4 cmake subproject isolation/main.cpp
  test cases/failing build/4 cmake subproject isolation/meson.build
  test cases/failing build/4 cmake subproject isolation/subprojects/cmMod/CMakeLists.txt
  test cases/failing build/4 cmake subproject isolation/subprojects/cmMod/cmMod.cpp
  test cases/failing build/4 cmake subproject isolation/subprojects/cmMod/cmMod.hpp
Labels: cmake, subprojects/wraps

#5775 Introduce dataonly for the pkgconfig module
  docs/markdown/Pkgconfig-module.md
  docs/markdown/snippets/pkgconfig_dataonly.md
  mesonbuild/modules/pkgconfig.py
  run_unittests.py
  test cases/common/47 pkgconfig-gen/installed_files.txt
  test cases/common/47 pkgconfig-gen/meson.build
Labels: pkgconfig

#6635 cmake: Fix dependency loops in custom targets (fixes #6632)
  mesonbuild/cmake/data/preload.cmake
  mesonbuild/cmake/interpreter.py
  mesonbuild/cmake/traceparser.py
  setup.py
  test cases/cmake/8 custom command/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/8 custom command/subprojects/cmMod/cmMod.cpp
  test cases/cmake/8 custom command/subprojects/cmMod/cpyTest.cpp
  test cases/cmake/8 custom command/subprojects/cmMod/cpyTest/CMakeLists.txt
  test cases/cmake/8 custom command/subprojects/cmMod/cpyTest/cpyTest.hpp
  test cases/cmake/8 custom command/subprojects/cmMod/cpyTest/cpyTest2.hpp
  test cases/cmake/8 custom command/subprojects/cmMod/cpyTest/cpyTest3.hpp
  test cases/cmake/8 custom command/subprojects/cmMod/cpyTest/cpyTest4.hpp
Labels: cmake, subprojects/wraps

#6602 boost: System dependency rewrite
  .github/workflows/lint_mypy.yml
  .github/workflows/os_comp.yml
  azure-pipelines.yml
  ci/azure-steps.yml
  ci/ciimage/eoan/Dockerfile
  mesonbuild/dependencies/boost.py
  run_project_tests.py
  test cases/frameworks/1 boost/meson.build
  test cases/frameworks/1 boost/meson_options.txt
  test cases/frameworks/1 boost/test_matrix.json
  test cases/frameworks/1 boost/unit_test.cpp
  tools/boost_names.py
Labels: boost, dependencies

#6637 Implement symbolextractor on windows + some cleanups/fixes
  ci/azure-steps.yml
  docs/markdown/snippets/ninja_version_bump.md
  mesonbuild/backend/ninjabackend.py
  mesonbuild/compilers/compilers.py
  mesonbuild/environment.py
  mesonbuild/linkers.py
  mesonbuild/scripts/symbolextractor.py
  mesonbuild/templates/cpptemplates.py
  mesonbuild/templates/ctemplates.py
  mesonbuild/templates/cudatemplates.py
  mesonbuild/templates/dlangtemplates.py
  mesonbuild/templates/fortrantemplates.py
  mesonbuild/templates/javatemplates.py
  mesonbuild/templates/objcpptemplates.py
  mesonbuild/templates/objctemplates.py
  mesonbuild/templates/rusttemplates.py
  run_tests.py
  run_unittests.py
  test cases/common/149 recursive linking/3rdorderdeps/meson.build
Labels: windows

#6703 Fix python2 rename
  run_unittests.py
Labels: meson tests
