Repository mesonbuild/meson, pull requests merged in 2020-06, with the labels that each got.

#7235 Mesonwrap docs
  docs/markdown/Adding-new-projects-to-wrapdb.md
  docs/markdown/Wrap-maintainer-tools.md
  docs/markdown/Wrap-review-guidelines.md
  docs/sitemap.txt
Labels: documentation

#7226 dependencies/cuda: Add support for ARM linux (fixes #7224)
  mesonbuild/dependencies/cuda.py
Labels: dependencies

#7232 cmake: always split property lists (fixes #7228)
  mesonbuild/cmake/interpreter.py
  mesonbuild/cmake/traceparser.py
  test cases/cmake/2 advanced/subprojects/cmMod/CMakeLists.txt
Labels: cmake, subprojects/wraps

#7264 0.54 regression: cmake_traceparser: ignore trace parse error
  mesonbuild/cmake/traceparser.py
Labels: cmake, regression

#7278 dependencies: Remove finish_init method
  mesonbuild/dependencies/base.py
  mesonbuild/dependencies/misc.py
  mesonbuild/dependencies/ui.py
Labels: dependencies, refactoring

#7254 cmake: Subprojects support CMAKE_PREFIX_PATH (fixes #7249)
  mesonbuild/cmake/executor.py
  mesonbuild/dependencies/base.py
  test cases/cmake/7 cmake options/subprojects/cmOpts/CMakeLists.txt
  test cases/cmake/7 cmake options/test.json
Labels: cmake, subprojects/wraps

#7302 modules/cmake: Fix setting install_dir
  mesonbuild/modules/cmake.py
  test cases/cmake/19 cmake file/foolib.cmake.in
  test cases/cmake/19 cmake file/meson.build
  test cases/cmake/19 cmake file/test.json
Labels: cmake

#7312 ci: Pin ninja to 1.9.0.post1 for now
  .github/workflows/unusedargs_missingreturn.yml
Labels: CI

#7309 cmake: fix definitions with interface libraries (fixes #7299)
  mesonbuild/cmake/interpreter.py
  test cases/cmake/1 basic/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/1 basic/subprojects/cmMod/cmMod.cpp
  test cases/cmake/1 basic/subprojects/cmMod/cmMod.hpp
  test cases/cmake/10 header only/main.cpp
  test cases/cmake/10 header only/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/10 header only/subprojects/cmMod/include/cmMod.hpp
Labels: cmake, subprojects/wraps

#7316 Disable failing cmake jobs on VS2017
  azure-pipelines.yml
  test cases/cmake/2 advanced/meson.build
  test cases/cmake/5 object library/meson.build
Labels: CI, cmake

#7320 Use cmake args also when calling get_cmake_info
  mesonbuild/dependencies/base.py
Labels: cmake, dependencies

#7319 ci: Use test.json to skip VS2017 azure tests
  run_project_tests.py
  test cases/cmake/2 advanced/meson.build
  test cases/cmake/2 advanced/test.json
  test cases/cmake/5 object library/meson.build
  test cases/cmake/5 object library/test.json
Labels: CI, cmake

#7343 ci: Remove PostgreSQL from PATH
  azure-pipelines.yml
  ci/run.ps1
  test cases/cmake/2 advanced/test.json
  test cases/cmake/5 object library/test.json
Labels: CI, cmake, windows

#7328 docs: replaced ninja with appropriate meson commands [skip ci]
  docs/markdown/Commands.md
  docs/markdown/Configuring-a-build-directory.md
  docs/markdown/Continuous-Integration.md
  docs/markdown/Creating-OSX-packages.md
  docs/markdown/Creating-releases.md
  docs/markdown/Cross-compilation.md
  docs/markdown/Design-rationale.md
  docs/markdown/FAQ.md
  docs/markdown/Feature-autodetection.md
  docs/markdown/Gnome-module.md
  docs/markdown/IDE-integration.md
  docs/markdown/IndepthTutorial.md
  docs/markdown/Installing.md
  docs/markdown/Meson-sample.md
  docs/markdown/Project-templates.md
  docs/markdown/Qt5-module.md
  docs/markdown/Quick-guide.md
  docs/markdown/Running-Meson.md
  docs/markdown/Tutorial.md
  docs/markdown/Unit-tests.md
  docs/markdown/Using-multiple-build-directories.md
  docs/markdown/Vs-External.md
  docs/markdown/howtox.md
Labels: documentation

#7363 compiler: add 'force_align_arg_pointer' function attribute
  docs/markdown/Reference-tables.md
  mesonbuild/compilers/c_function_attributes.py
Labels: compilers, enhancement

#7220 wrap: Add patch_directory support
  docs/markdown/Wrap-dependency-system-manual.md
  docs/markdown/snippets/wrap_patch.md
  mesonbuild/wrap/wrap.py
  test cases/common/157 wrap file should not failed/meson.build
  test cases/common/157 wrap file should not failed/subprojects/packagefiles/foo-1.0/meson.build
  test cases/common/157 wrap file should not failed/subprojects/patchdir.wrap
Labels: subprojects/wraps

#7377 docs: Document string path building with examples
  docs/markdown/Syntax.md
Labels: documentation

#7369 docs: Add initial docs for the Meson CI [skip ci]
  docs/markdown/MesonCI.md
  docs/sitemap.txt
Labels: CI, documentation

#7380 ci: Bump the cygwin timeout to 120 minutes, workaround MSYS2 breakage
  azure-pipelines.yml
Labels: CI

#7381 wrap: add user agent when downloading files
  mesonbuild/wrap/wrap.py
Labels: subprojects/wraps

#7392 Use internal version of run_ctgt.py to support msi
  mesonbuild/cmake/data/run_ctgt.py
  mesonbuild/cmake/interpreter.py
  mesonbuild/scripts/cmake_run_ctgt.py
  msi/createmsi.py
Labels: cmake

#7231 cmake: Add more advanced subproject configuration options
  docs/markdown/CMake-module.md
  docs/markdown/snippets/cmake.md
  mesonbuild/cmake/__init__.py
  mesonbuild/cmake/common.py
  mesonbuild/cmake/interpreter.py
  mesonbuild/interpreter.py
  mesonbuild/modules/cmake.py
  test cases/cmake/19 advanced options/main.cpp
  test cases/cmake/19 advanced options/meson.build
  test cases/cmake/19 advanced options/subprojects/cmOpts/CMakeLists.txt
  test cases/cmake/19 advanced options/subprojects/cmOpts/cmMod.cpp
  test cases/cmake/19 advanced options/subprojects/cmOpts/cmMod.hpp
  test cases/cmake/19 advanced options/subprojects/cmOpts/cmTest.cpp
  test cases/cmake/19 advanced options/subprojects/cmOpts/cmTest.hpp
  test cases/cmake/19 advanced options/subprojects/cmOpts/main.cpp
  test cases/cmake/19 advanced options/test.json
Labels: cmake, subprojects/wraps
