Repository mesonbuild/meson, pull requests merged in 2020-05, with the labels that each got.

#7047 boost: Only use usage-requirements defines (fixes #7046)
  mesonbuild/dependencies/boost.py
  test cases/frameworks/1 boost/meson.build
  tools/boost_names.py
Labels: boost

#7069 boost: Do not set BOOST_ALL_DYN_LINK (fixes #7056)
  mesonbuild/dependencies/boost.py
Labels: boost

#7108 boost: Do not be strict about static if not specified (fixes #7057)
  mesonbuild/dependencies/boost.py
Labels: boost

#7118 cmake: Ignore unknown c(pp)? stds (fixes #7104)
  mesonbuild/cmake/interpreter.py
Labels: cmake, subprojects/wraps

#7122 docs: Add a Howto about the null dependency [skip ci]
  docs/markdown/howtox.md
Labels: documentation

#7117 boost: Try finding libraries with the matching arch (fixes #7110)
  mesonbuild/dependencies/boost.py
  mesonbuild/mesonlib.py
Labels: boost

#7149 boost: always use compiler include paths
  mesonbuild/dependencies/boost.py
Labels: boost

#7153 travis/macos: Restore the old pkg-config behaviour
  ci/travis_install.sh
  test cases/failing/34 dependency not-required then required/test.json
Labels: CI

#7155 compilers/d: Enable pgo for GDC
  mesonbuild/compilers/d.py
Labels: D language

#7179 boost: Always sort shared before static (fixes #7171)
  mesonbuild/dependencies/boost.py
Labels: boost

#7185 boost: Try extracting BOOST_ROOT from boost.pc
  mesonbuild/dependencies/boost.py
Labels: boost

#6765 mintro: AST JSON printer
  docs/markdown/IDE-integration.md
  docs/markdown/snippets/introspect.md
  mesonbuild/ast/__init__.py
  mesonbuild/ast/interpreter.py
  mesonbuild/ast/printer.py
  mesonbuild/ast/visitor.py
  mesonbuild/mintro.py
  mesonbuild/mparser.py
  run_unittests.py
  test cases/unit/57 introspection/meson.build
Labels: introspection

#7127 add type anno: compilers/clike
  mesonbuild/compilers/compilers.py
  mesonbuild/compilers/mixins/clike.py
Labels: refactoring

#6818 Wrap: add local files support via *_filename
  docs/markdown/Wrap-dependency-system-manual.md
  docs/markdown/snippets/wrap_patch.md
  mesonbuild/interpreter.py
  mesonbuild/wrap/wrap.py
  test cases/common/157 wrap file should not failed/meson.build
  test cases/common/157 wrap file should not failed/src/meson.build
  test cases/common/157 wrap file should not failed/src/test.c
  test cases/common/157 wrap file should not failed/subprojects/.gitignore
  test cases/common/157 wrap file should not failed/subprojects/bar.wrap
  test cases/common/157 wrap file should not failed/subprojects/foo-1.0/foo.c
  test cases/common/157 wrap file should not failed/subprojects/foo-1.0/meson.build
  test cases/common/157 wrap file should not failed/subprojects/foo.wrap
  test cases/common/157 wrap file should not failed/subprojects/packagecache/foo-1.0-patch.tar.xz
  test cases/common/157 wrap file should not failed/subprojects/packagecache/foo-1.0.tar.xz
  test cases/common/157 wrap file should not failed/subprojects/packagefiles/bar-1.0-patch.tar.xz
  test cases/common/157 wrap file should not failed/subprojects/packagefiles/bar-1.0.tar.xz
Labels: subprojects/wraps
