Repository mesonbuild/meson, pull requests merged in 2020-07, with the labels that each got.

#7382 refactor: name .mypy.ini to reduce visual clutter
  .mypy.ini
Labels: refactoring

#7431 Enable target override_options for llvm-ir
  mesonbuild/backend/ninjabackend.py
Labels: backend:ninja

#7210 Add boost_root support to properties files
  docs/markdown/Dependencies.md
  mesonbuild/dependencies/boost.py
  run_project_tests.py
  test cases/frameworks/32 boost root/boost/include/boost/version.hpp
  test cases/frameworks/32 boost root/boost/lib/boost_regex-vc142-mt-gd-x32-0_1.lib
  test cases/frameworks/32 boost root/boost/lib/boost_regex-vc142-mt-gd-x64-0_1.lib
  test cases/frameworks/32 boost root/boost/lib/libboost_regex.so.0.1.0
  test cases/frameworks/32 boost root/meson.build
  test cases/frameworks/32 boost root/nativefile.ini.in
  test cases/frameworks/33 boost split root/boost/extra-dir/include/boost/version.hpp
  test cases/frameworks/33 boost split root/boost/lib/boost_regex-vc142-mt-gd-x32-0_2.lib
  test cases/frameworks/33 boost split root/boost/lib/boost_regex-vc142-mt-gd-x64-0_2.lib
  test cases/frameworks/33 boost split root/boost/lib/libboost_regex.so.0.2.0
  test cases/frameworks/33 boost split root/meson.build
  test cases/frameworks/33 boost split root/nativefile.ini.in
Labels: boost

#7479 Don't spam about usage of rspfiles to stdout
  mesonbuild/backend/ninjabackend.py
Labels: windows

#7483 compilers: Cache gnu-mixins has_arguments() checks
  mesonbuild/compilers/mixins/gnu.py
Labels: compilers, gstreamer, regression

#7460 deps: Do not deepcopy internal libraries (fixes #7457)
  .gitignore
  mesonbuild/dependencies/base.py
  run_project_tests.py
Labels: cmake, dependencies, subprojects/wraps

#7520 Doc: Added clarification on introspection files gen order [skip ci]
  docs/markdown/IDE-integration.md
Labels: documentation, introspection
