Repository mesonbuild/meson, pull requests merged in 2021-09, with the labels that each got.

#9130 mintro: add install_plan
  docs/markdown/IDE-integration.md
  mesonbuild/backend/backends.py
  mesonbuild/build.py
  mesonbuild/interpreter/interpreter.py
  mesonbuild/mintro.py
  mesonbuild/modules/cmake.py
  mesonbuild/modules/gnome.py
  mesonbuild/modules/pkgconfig.py
  mesonbuild/modules/python.py
  test cases/unit/98 install all targets/bar-custom.txt
  test cases/unit/98 install all targets/bar-devel.h
  test cases/unit/98 install all targets/bar-notag.txt
  test cases/unit/98 install all targets/foo.in
  test cases/unit/98 install all targets/foo1-devel.h
  test cases/unit/98 install all targets/lib.c
  test cases/unit/98 install all targets/main.c
  test cases/unit/98 install all targets/meson.build
  test cases/unit/98 install all targets/script.py
  test cases/unit/98 install all targets/subdir/bar2-devel.h
  test cases/unit/98 install all targets/subdir/foo2.in
  test cases/unit/98 install all targets/subdir/foo3-devel.h
  test cases/unit/98 install all targets/subdir/lib.c
  test cases/unit/98 install all targets/subdir/main.c
  test cases/unit/98 install all targets/subdir/meson.build
  test cases/unit/98 install all targets/subdir/script.py
  unittests/allplatformstests.py
Labels: introspection

#9269 fix depscan json depends
  mesonbuild/backend/ninjabackend.py
  test cases/fortran/7 generated/meson.build
  test cases/fortran/7 generated/mod3.f90
Labels: language:fortran

#9017 Allow cython to be transpiled to c++
  docs/markdown/Cython.md
  docs/markdown/snippets/cython-c++-intermediate.md
  mesonbuild/backend/ninjabackend.py
  mesonbuild/build.py
  mesonbuild/compilers/cython.py
  mesonbuild/interpreter/interpreter.py
  test cases/cython/1 basic/libdir/storer.h
  test cases/cython/1 basic/test.json
Labels: language:cython

#9167 Add type annotations and type checking to meson main
  .pylintrc
  mesonbuild/backend/backends.py
  mesonbuild/build.py
  mesonbuild/cmake/executor.py
  mesonbuild/compilers/cpp.py
  mesonbuild/compilers/d.py
  mesonbuild/environment.py
  mesonbuild/interpreter/interpreter.py
  mesonbuild/interpreter/mesonmain.py
  mesonbuild/mlog.py
  mesonbuild/modules/__init__.py
  mesonbuild/modules/pkgconfig.py
  mesonbuild/modules/qt.py
  mesonbuild/modules/unstable_external_project.py
  mesonbuild/scripts/meson_exe.py
  run_mypy.py
Labels: typing

#8773 More enhancements for Rust + clippy support
  .pylintrc
  ci/run.ps1
  docs/markdown/snippets/rust-clippy-driver-support.md
  docs/markdown/snippets/rustc-improvements.md
  mesonbuild/backend/ninjabackend.py
  mesonbuild/compilers/__init__.py
  mesonbuild/compilers/detect.py
  mesonbuild/compilers/rust.py
  test cases/rust/1 basic/clippy.toml
  test cases/rust/1 basic/prog.rs
  unittests/allplatformstests.py
  unittests/baseplatformtests.py
Labels: language:rust
