Repository mesonbuild/meson, pull requests merged in 2021-12, with the labels that each got.

#9665 cmake: Fix old style dependency lookup with imported targets
  mesonbuild/cmake/__init__.py
  mesonbuild/cmake/common.py
  mesonbuild/cmake/interpreter.py
  mesonbuild/cmake/tracetargets.py
  mesonbuild/dependencies/cmake.py
  test cases/linuxlike/13 cmake dependency/cmake/FindImportedOldStyle.cmake
  test cases/linuxlike/13 cmake dependency/meson.build
Labels: dependencies, cmake

#9677 cmake: Deprecate CMake <3.14 and warn for <3.17
  docs/markdown/snippets/cmake_deprecated.md
  mesonbuild/cmake/interpreter.py
Labels: cmake

#9703 docs: Add the `configuration` keyeword argument to `configure_File`
  docs/yaml/functions/configure_file.yaml
Labels: documentation

#9711 Fix regressions caused by typing changes
  mesonbuild/modules/gnome.py
Labels: module:gnome

#9719 rewriter: create {add,rm}_extra_files commands
  docs/markdown/Rewriter.md
  docs/markdown/snippets/rewriter_extra_files.md
  mesonbuild/rewriter.py
  test cases/rewrite/6 extra_files/addExtraFiles.json
  test cases/rewrite/6 extra_files/info.json
  test cases/rewrite/6 extra_files/meson.build
  test cases/rewrite/6 extra_files/rmExtraFiles.json
  unittests/rewritetests.py
Labels: rewriter

#9706 mesonlib: make get_meson_command return an ImmutableList
  mesonbuild/mesonlib/universal.py
Labels: typing

#9738 Fix mypy errors
  mesonbuild/build.py
  mesonbuild/dependencies/detect.py
  mesonbuild/interpreter/interpreterobjects.py
  mesonbuild/mesonlib/universal.py
  mesonbuild/modules/windows.py
  run_project_tests.py
Labels: typing

#9700 Clean up gnome mkenums, and use typed_kwargs
  mesonbuild/modules/gnome.py
Labels: module:gnome
