Repository mesonbuild/meson, pull requests merged in 2021-10, with the labels that each got.

#9328 rust: dependencies need to cause a rebuild/relink not just reorder
  mesonbuild/backend/ninjabackend.py
  test cases/unit/100 rlib linkage/lib2.rs
  test cases/unit/100 rlib linkage/main.rs
  test cases/unit/100 rlib linkage/meson.build
  unittests/allplatformstests.py
Labels: language:rust

#9353 docs: Temporarily disable modules and move RefMan --> Reference-manual
  docs/markdown/Adding-arguments.md
  docs/markdown/Yaml-RefMan.md
  docs/meson.build
  docs/refman/generatormd.py
  docs/refman/main.py
  docs/refman/templates/root.mustache
Labels: documentation

#9355 modules/gnome: deprecate yelp variadic sources
  docs/markdown/Gnome-module.md
  docs/markdown/snippets/gnome_yelp_sources.md
  mesonbuild/modules/gnome.py
Labels: module:gnome

#9371 cmake: handle arguments in the [binaries] section of the machine file
  mesonbuild/cmake/toolchain.py
  unittests/linuxliketests.py
Labels: cmake
