Repository mesonbuild/meson, pull requests merged in 2021-05, with the labels that each got.

#8750 little punctuation and add a phrase
  docs/markdown/Running-Meson.md
Labels: documentation

#8403 Submit/rust fix shared internal linking
  mesonbuild/backend/ninjabackend.py
  test cases/rust/16 internal c dependencies/lib.c
  test cases/rust/16 internal c dependencies/lib.h
  test cases/rust/16 internal c dependencies/main.rs
  test cases/rust/16 internal c dependencies/meson.build
  test cases/rust/16 internal c dependencies/test.py
Labels: language:rust

#8805 modules/gnome: Correctly handle generated sources for generate_gir
  mesonbuild/modules/gnome.py
  test cases/frameworks/7 gnome/gir/copy.py
  test cases/frameworks/7 gnome/gir/meson.build
Labels: module:gnome

#8804 Only try to get RSP syntax if RSP is supported
  mesonbuild/backend/ninjabackend.py
  mesonbuild/linkers.py
Labels: backend:ninja
