Repository mesonbuild/meson, pull requests merged in 2021-02, with the labels that each got.

#8303 xcode-backend: add implicit includes + global link args
  mesonbuild/backend/backends.py
  mesonbuild/backend/ninjabackend.py
  mesonbuild/backend/xcodebackend.py
Labels: backend:xcode

#8162 Add a wrapper to the rust module for bindgen
  ci/ciimage/arch/install.sh
  ci/ciimage/ubuntu-rolling/install.sh
  docs/markdown/Rust-module.md
  docs/markdown/snippets/unstable-rust-module.md
  mesonbuild/backend/ninjabackend.py
  mesonbuild/build.py
  mesonbuild/interpreter.py
  mesonbuild/mesonlib/universal.py
  mesonbuild/modules/unstable_rust.py
  run_project_tests.py
  test cases/rust/12 bindgen/include/other.h
  test cases/rust/12 bindgen/meson.build
  test cases/rust/12 bindgen/src/gen_header.py
  test cases/rust/12 bindgen/src/header.h
  test cases/rust/12 bindgen/src/main.rs
  test cases/rust/12 bindgen/src/main2.rs
  test cases/rust/12 bindgen/src/source.c
  test cases/rust/12 bindgen/sub/meson.build
Labels: language:rust, module:rust

#8083 Add Qt6 module
  ci/ciimage/arch/install.sh
  docs/markdown/snippets/qt6_module.md
  mesonbuild/dependencies/__init__.py
  mesonbuild/dependencies/ui.py
  mesonbuild/modules/qt.py
  mesonbuild/modules/qt6.py
  run_unittests.py
  test cases/frameworks/4 qt/meson.build
Labels: qt

#8323 aix: avoid -bsvr4 flag
  mesonbuild/linkers.py
Labels: OS:AIX

#8396 [CUDA] Bugfix: Forward sanitizer_*_args() methods to host compiler.
  mesonbuild/compilers/cuda.py
  test cases/cuda/15 sanitizer/meson.build
  test cases/cuda/15 sanitizer/prog.cu
Labels: language:cuda

#8404 Fix linking Rust with C dependencies
  mesonbuild/backend/ninjabackend.py
  test cases/rust/13 external c dependencies/c_accessing_zlib.c
  test cases/rust/13 external c dependencies/meson.build
  test cases/rust/13 external c dependencies/meson_options.txt
  test cases/rust/13 external c dependencies/prog.rs
  test cases/rust/13 external c dependencies/test.json
Labels: dependencies, language:rust

#8422 Simplify/optimize `get_external_property` and `get_cross_property`
  mesonbuild/interpreter.py
  test cases/failing/111 no build get_external_property/meson.build
  test cases/failing/111 no build get_external_property/test.json
  test cases/failing/28 no crossprop/test.json
  test cases/failing/99 no host get_external_property/meson.build
  test cases/failing/99 no host get_external_property/test.json
  test cases/failing/99 no native prop/test.json
Labels: refactoring

#8429 rust: correctly handle -l link args
  mesonbuild/backend/ninjabackend.py
  test cases/rust/14 external libm/meson.build
  test cases/rust/14 external libm/meson_options.txt
  test cases/rust/14 external libm/prog.rs
  test cases/rust/14 external libm/rs_math.rs
  test cases/rust/14 external libm/test.json
Labels: language:rust

#8389 Add a script to run a single meson functional test case (with test.json support)
  run_mypy.py
  run_project_tests.py
  run_single_test.py
  run_tests.py
Labels: meson tests
