Repository mesonbuild/meson, pull requests merged in 2021-07, with the labels that each got.

#8940 fix: get_variable default variables are not ObjectHolders (fixes #8936)
  mesonbuild/interpreter/interpreter.py
  mesonbuild/interpreter/interpreterobjects.py
  mesonbuild/interpreterbase/__init__.py
  mesonbuild/interpreterbase/_unholder.py
  mesonbuild/interpreterbase/decorators.py
  mesonbuild/interpreterbase/interpreterbase.py
  test cases/common/242 set and get variable/meson.build
Labels: regression

#8964 cmake: Only use the `cm_` prefix when it is actually required (fixes #8955)
  mesonbuild/cmake/interpreter.py
  test cases/cmake/19 advanced options/test.json
  test cases/cmake/2 advanced/meson.build
  test cases/cmake/2 advanced/test.json
  test cases/cmake/3 advanced no dep/meson.build
  test cases/cmake/3 advanced no dep/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/3 advanced no dep/test.json
Labels: cmake, subprojects/wraps

#8966 cmake: Improved error message for using dependency for executables
  mesonbuild/modules/cmake.py
  test cases/failing/116 cmake executable dependency/meson.build
  test cases/failing/116 cmake executable dependency/subprojects/cmlib/CMakeLists.txt
  test cases/failing/116 cmake executable dependency/subprojects/cmlib/main.c
  test cases/failing/116 cmake executable dependency/test.json
Labels: cmake, subprojects/wraps

#8978 fix: Fix recursive _unholder permissive kwarg (fixes #8977)
  mesonbuild/interpreterbase/_unholder.py
  test cases/common/242 set and get variable/meson.build
Labels: regression

#8997 Ifort xilink subsystem
  mesonbuild/linkers/linkers.py
Labels: compilers, regression

#8993 gnome: Always pass absolute -L paths to g-ir-scanner
  mesonbuild/modules/gnome.py
Labels: module:gnome, regression

#8992 Cleanup the python module
  docs/markdown/snippets/python_dependency_args_removed.md
  mesonbuild/dependencies/base.py
  mesonbuild/dependencies/cmake.py
  mesonbuild/dependencies/coarrays.py
  mesonbuild/dependencies/configtool.py
  mesonbuild/dependencies/dev.py
  mesonbuild/dependencies/dub.py
  mesonbuild/dependencies/framework.py
  mesonbuild/dependencies/misc.py
  mesonbuild/dependencies/pkgconfig.py
  mesonbuild/dependencies/ui.py
  mesonbuild/interpreter/interpreter.py
  mesonbuild/modules/pkgconfig.py
  mesonbuild/modules/python.py
  run_unittests.py
Labels: dependencies, modules:python

#9016 qt: Allow CustomTargets for qt.preprocess source arguments
  docs/markdown/_include_qt_base.md
  mesonbuild/modules/qt.py
Labels: module:qt

#9028 ast: Add dummy "support" for fstrings in the ast package
  mesonbuild/ast/interpreter.py
  mesonbuild/ast/printer.py
  mesonbuild/ast/visitor.py
  run_unittests.py
  test cases/unit/57 introspection/meson.build
Labels: bug, introspection
