Repository mesonbuild/meson, pull requests merged in 2021-01, with the labels that each got.

#8135 cmake: fix missing languages from CMake (fixes #8132)
  cross/linux-mingw-w64-32bit.txt
  cross/linux-mingw-w64-64bit.txt
  mesonbuild/cmake/interpreter.py
  test cases/cmake/24 mixing languages/main.c
  test cases/cmake/24 mixing languages/meson.build
  test cases/cmake/24 mixing languages/subprojects/cmTest/CMakeLists.txt
  test cases/cmake/24 mixing languages/subprojects/cmTest/cmTest.c
  test cases/cmake/24 mixing languages/subprojects/cmTest/cmTest.h
  test cases/cmake/24 mixing languages/subprojects/cmTest/cmTest.m
Labels: cmake, subprojects/wraps

#7860 Add a rust module
  CODEOWNERS
  docs/markdown/Reference-manual.md
  docs/markdown/Rust-module.md
  docs/markdown/_Sidebar.md
  docs/markdown/snippets/rust_test_format_support.md
  docs/markdown/snippets/unstable-rust-module.md
  docs/sitemap.txt
  docs/theme/extra/templates/navbar_links.html
  mesonbuild/backend/backends.py
  mesonbuild/interpreter.py
  mesonbuild/modules/unstable_rust.py
  mesonbuild/mtest.py
  run_mypy.py
  test cases/rust/9 unit tests/meson.build
  test cases/rust/9 unit tests/test.rs
  test cases/rust/9 unit tests/test2.rs
Labels: language:rust

#8170 ci: Fix pip installation in Cygwin on Azure
  azure-pipelines.yml
Labels: CI

#8142 cmake: add PATH logic to preliminary dep check (fixes #8133)
  docs/markdown/Contributing.md
  mesonbuild/dependencies/base.py
  run_project_tests.py
  test cases/linuxlike/13 cmake dependency/cmake_fake3/bin/.gitkeep
  test cases/linuxlike/13 cmake dependency/cmake_fake3/lib/cmake/cmMesonTestF3/cmMesonTestF3Config.cmake
  test cases/linuxlike/13 cmake dependency/meson.build
  test cases/linuxlike/13 cmake dependency/test.json
Labels: cmake, dependencies

#8166 Look for macos Framework dependencies when cross compiling
  mesonbuild/dependencies/base.py
Labels: bug, cross

#8192 Add type annotations to minstall (and some related cleanups)
  mesonbuild/backend/backends.py
  mesonbuild/build.py
  mesonbuild/interpreter.py
  mesonbuild/minstall.py
  mesonbuild/modules/cmake.py
  mesonbuild/modules/gnome.py
  mesonbuild/modules/pkgconfig.py
  mesonbuild/modules/unstable_external_project.py
  mesonbuild/scripts/depfixer.py
  run_mypy.py
  test cases/failing/69 install_data rename bad size/test.json
Labels: refactoring, typing

#8158 rust: Accept generated sources for main.rs
  mesonbuild/backend/ninjabackend.py
  mesonbuild/build.py
  mesonbuild/modules/unstable_rust.py
  test cases/rust/11 generated main/gen.py
  test cases/rust/11 generated main/meson.build
Labels: backend:ninja, language:rust

#8240 Split mesonlib package to better separate os specific code
  mesonbuild/backend/ninjabackend.py
  mesonbuild/backend/xcodebackend.py
  mesonbuild/cmake/interpreter.py
  mesonbuild/compilers/c.py
  mesonbuild/environment.py
  mesonbuild/mdist.py
  mesonbuild/mesonlib/__init__.py
  mesonbuild/mesonlib/platform.py
  mesonbuild/mesonlib/posix.py
  mesonbuild/mesonlib/universal.py
  mesonbuild/mesonlib/win32.py
  mesonbuild/minit.py
  run_mypy.py
  setup.py
Labels: typing

#8236 Submit/rust fix generated sources in subdir
  mesonbuild/backend/ninjabackend.py
  test cases/rust/11 generated main/gen.py
  test cases/rust/11 generated main/generated_lib_main.rs
  test cases/rust/11 generated main/meson.build
  test cases/rust/11 generated main/sub/meson.build
Labels: language:rust

#8257 xcode-backend: fix include paths
  mesonbuild/backend/xcodebackend.py
Labels: backend:xcode

#8258 Change OS Comp CI to be ubuntu rollling instead fo Eoan
  .github/workflows/images.yml
  .github/workflows/os_comp.yml
  ci/ciimage/ubuntu-rolling/image.json
  ci/ciimage/ubuntu-rolling/install.sh
  ci/ciimage/ubuntu-rolling/test.sh
Labels: CI

#8259 Fix executable as script on Windows
  mesonbuild/backend/backends.py
  mesonbuild/build.py
  mesonbuild/interpreter.py
  mesonbuild/mdist.py
  mesonbuild/minstall.py
  mesonbuild/modules/gnome.py
  mesonbuild/modules/hotdoc.py
  mesonbuild/modules/i18n.py
  mesonbuild/scripts/meson_exe.py
  test cases/common/54 install script/meson.build
  test cases/common/54 install script/prog.c
  test cases/common/54 install script/src/foo.c
  test cases/common/54 install script/src/meson.build
Labels: OS:windows

#8271 XCode backend: resolve crash when using custom targets
  mesonbuild/backend/xcodebackend.py
  mesonbuild/build.py
Labels: backend:xcode
