Repository mesonbuild/meson, pull requests merged in 2021-08, with the labels that each got.

#9043 modules/dlang: Fix dependencies that should have been updated
  mesonbuild/modules/dlang.py
Labels: module:dlang

#9027 interperter: Fix list contains for Holders (fixes #9020)
  mesonbuild/interpreterbase/interpreterbase.py
  test cases/common/56 array methods/a.txt
  test cases/common/56 array methods/b.txt
  test cases/common/56 array methods/c.txt
  test cases/common/56 array methods/meson.build
Labels: regression

#9002 pkg-config: support for `-l:libfoo.a`
  mesonbuild/dependencies/pkgconfig.py
  test cases/unit/97 link full name/.gitignore
  test cases/unit/97 link full name/libtestprovider/meson.build
  test cases/unit/97 link full name/libtestprovider/provider.c
  test cases/unit/97 link full name/proguser/meson.build
  test cases/unit/97 link full name/proguser/receiver.c
  unittests/linuxliketests.py
Labels: dependencies

#9044 Fix native targets for vs backend cross compilation
  mesonbuild/backend/vs2010backend.py
Labels: bug, backend:visualstudio

#9041 gnome: Filter all compiler and linker flags
  mesonbuild/modules/gnome.py
Labels: module:gnome

#9075 compilers/cpp: Set the MSVC macro to make the __cplusplus define
  docs/markdown/snippets/msvc_cplusplus_define.md
  mesonbuild/compilers/cpp.py
  test cases/windows/18 msvc cplusplus define/main.cpp
  test cases/windows/18 msvc cplusplus define/meson.build
  test cases/windows/3 cpp/meson.build
  unittests/windowstests.py
Labels: compilers

#9136 unittests: Ensure that symlink is removed after tests complete
  unittests/linuxliketests.py
Labels: meson tests

#8983 gnome: Prepend devenv, not append
  mesonbuild/modules/gnome.py
Labels: module:gnome

#9199 replace `an_unpicklable_object` with proper python dunder methods
  mesonbuild/interpreter/interpreter.py
  mesonbuild/mesonlib/universal.py
  unittests/internaltests.py
Labels: refactoring
