Repository mesonbuild/meson, pull requests merged in 2022-08, with the labels that each got.

#10633 mtest: Inline try_wait_one using asyncio.wait_for
  mesonbuild/mtest.py
Labels: test targets

#10613 cmake: Change assertion int a more useful error (fixes #9925)
  mesonbuild/envconfig.py
Labels: module:cmake

#10612 qt: fix qt tools detection for Qt6.3+ by pkg-config
  mesonbuild/dependencies/qt.py
Labels: module:qt

#10656 cmake: Add rule relaxations for CMake subprojects (fixes #10613)
  mesonbuild/interpreter/interpreter.py
  test cases/cmake/2 advanced/subprojects/cmMod/CMakeLists.txt
Labels: subprojects/wraps, module:cmake
