Repository mesonbuild/meson, pull requests merged in 2022-02, with the labels that each got.

#9908 pkgconfig: set libdir only if used
  mesonbuild/modules/pkgconfig.py
Labels: module:pkgconfig

#9898 ninjabackend: treat link_whole_targets like link_targets for Rust targets
  mesonbuild/backend/ninjabackend.py
  test cases/rust/17 staticlib link staticlib/branch.rs
  test cases/rust/17 staticlib link staticlib/leaf.rs
  test cases/rust/17 staticlib link staticlib/meson.build
  test cases/rust/17 staticlib link staticlib/prog.c
  test cases/rust/17 staticlib link staticlib/test.json
Labels: language:rust

#9967 ninjabackend: fix rust program names with dashes
  mesonbuild/backend/ninjabackend.py
  test cases/rust/1 basic/meson.build
  test cases/rust/1 basic/subdir/meson.build
  test cases/rust/1 basic/test.json
Labels: backend:ninja, language:rust
