Repository mesonbuild/meson, pull requests merged in 2022-03, with the labels that each got.

#9881 Deprecate java.generate_native_header() in favor of java.generate_native_headers()
  docs/markdown/Java-module.md
  docs/markdown/snippets/java_generate_native_headers.md
  mesonbuild/modules/java.py
  test cases/java/9 jdk/lib/meson.build
  test cases/java/9 jdk/src/com/mesonbuild/meson.build
Labels: module:java

#9287 compilers/gnu: set level 0 optimization to '-O0'
  mesonbuild/compilers/mixins/gnu.py
Labels: compilers

#9743 cmake: Add TARGET_ generator expression support (fixes #9305)
  mesonbuild/cmake/generator.py
  mesonbuild/cmake/interpreter.py
  mesonbuild/cmake/toolchain.py
  mesonbuild/cmake/traceparser.py
  mesonbuild/dependencies/cmake.py
  test cases/cmake/12 generator expressions/subprojects/cmMod/CMakeLists.txt
  test cases/cmake/12 generator expressions/subprojects/cmMod/include/cmMod.hpp
  test cases/cmake/12 generator expressions/test.json
Labels: cmake

#9339 Structured Sources
  data/syntax-highlighting/vim/syntax/meson.vim
  docs/markdown/Rust.md
  docs/markdown/snippets/structured_sources.md
  docs/sitemap.txt
  docs/yaml/functions/_build_target_base.yaml
  docs/yaml/functions/structured_sources.yaml
  docs/yaml/objects/structured_src.yaml
  mesonbuild/ast/interpreter.py
  mesonbuild/ast/introspection.py
  mesonbuild/backend/ninjabackend.py
  mesonbuild/build.py
  mesonbuild/dependencies/base.py
  mesonbuild/interpreter/interpreter.py
  mesonbuild/interpreter/interpreterobjects.py
  mesonbuild/mesonlib/universal.py
  mesonbuild/modules/gnome.py
  mesonbuild/modules/unstable_rust.py
  mesonbuild/scripts/copy.py
  test cases/failing/121 structured source empty string/main.rs
  test cases/failing/121 structured source empty string/meson.build
  test cases/failing/121 structured source empty string/test.json
  test cases/failing/122 structured_sources conflicts/main.rs
  test cases/failing/122 structured_sources conflicts/meson.build
  test cases/failing/122 structured_sources conflicts/test.json
  test cases/rust/18 structured sources/gen.py
  test cases/rust/18 structured sources/meson.build
  test cases/rust/18 structured sources/no_copy_test.py
  test cases/rust/18 structured sources/src/foo.rs.in
  test cases/rust/18 structured sources/src/main.rs
  test cases/rust/18 structured sources/src2/foo/mod.rs
  test cases/rust/18 structured sources/src2/main-unique.rs
  unittests/allplatformstests.py
Labels: language:rust

#10148 modules/rust: set bindgen include_dirs for both build and source dir
  mesonbuild/modules/unstable_rust.py
Labels: module:rust

#10203 fix regression in propagating depends in gtkdoc
  mesonbuild/modules/gnome.py
Labels: regression, module:gnome
