Repository mesonbuild/meson, pull requests merged in 2022-04, with the labels that each got.

#10228 Fix CMake error message
  test cases/cmake/25 assembler/subprojects/cmTest/CMakeLists.txt
Labels: CI, cmake

#10231 cmake: Better error message when configuring a CMake subproject fails.
  mesonbuild/cmake/interpreter.py
  mesonbuild/cmake/traceparser.py
  test cases/failing/122 cmake subproject error/meson.build
  test cases/failing/122 cmake subproject error/subprojects/cmlib/CMakeLists.txt
  test cases/failing/122 cmake subproject error/test.json
Labels: subprojects/wraps, cmake

#10250 cmake: Always use all compilers for LLVM (fixes #10249)
  mesonbuild/dependencies/cmake.py
  mesonbuild/dependencies/data/CMakeListsLLVM.txt
  mesonbuild/dependencies/dev.py
Labels: dependencies, cmake

#10289 Fix generator expression list problems
  mesonbuild/cmake/traceparser.py
  test cases/linuxlike/13 cmake dependency/cmake/FindImportedTarget.cmake
Labels: cmake

#10086 linkers: Add support for mold linker
  docs/markdown/Reference-tables.md
  docs/markdown/snippets/mold-support.md
  mesonbuild/compilers/compilers.py
  mesonbuild/compilers/d.py
  mesonbuild/compilers/detect.py
  mesonbuild/compilers/mixins/clang.py
  mesonbuild/compilers/mixins/clike.py
  mesonbuild/compilers/mixins/gnu.py
  mesonbuild/compilers/rust.py
  mesonbuild/linkers/detect.py
  mesonbuild/linkers/linkers.py
  unittests/linuxliketests.py
Labels: dynamic linkers
