Repository mesonbuild/meson, pull requests merged in 2023-02, with the labels that each got.

#11363 test cases/vala: Fix clang error during int to pointer coercion
  test cases/vala/5 target glib/GLib.Thread.vala
  test cases/vala/5 target glib/retcode.c
Labels: language:vala, meson tests, CI

#11377 cmake: check that `re.search` returned a non-None value
  mesonbuild/cmake/executor.py
Labels: module:cmake

#11401 Update docs on how to use pre-built binaries with wraps
  docs/markdown/Shipping-prebuilt-binaries-as-wraps.md
Labels: documentation

#11388 clang: -fprofile-correction isn't a valid flag.
  mesonbuild/compilers/mixins/gnu.py
Labels: bug, compilers

#11407 vala: don't build .h, .vala, and .gir if export_dynamic is False
  mesonbuild/build.py
Labels: language:vala

#11430 backend/ninja: fix rust cfg parsing
  mesonbuild/backend/ninjabackend.py
Labels: language:rust

#11250 implement rustc controlled whole-archive linking
  mesonbuild/backend/ninjabackend.py
  test cases/rust/2 sharedlib/meson.build
  test cases/rust/2 sharedlib/stuff.rs
  test cases/rust/2 sharedlib/value.c
  test cases/rust/3 staticlib/meson.build
  test cases/rust/3 staticlib/other.rs
  test cases/rust/3 staticlib/prog.rs
  test cases/rust/3 staticlib/stuff.rs
  test cases/rust/3 staticlib/value.c
  test cases/rust/5 polyglot static/clib.c
  test cases/rust/5 polyglot static/meson.build
  test cases/rust/5 polyglot static/prog.c
  test cases/rust/5 polyglot static/stuff.rs
  test cases/rust/5 polyglot static/test.json
Labels: language:rust
