Repository mesonbuild/meson, pull requests merged in 2023-05, with the labels that each got.

#11761 fix regression in precomputing CMAKE_SIZEOF_VOID_P
  mesonbuild/modules/cmake.py
Labels: compilers, module:cmake

#11760 Make `dependency('foo', static: true, method: 'cmake') link statically
  mesonbuild/dependencies/cmake.py
  mesonbuild/dependencies/data/CMakeLists.txt
  test cases/rust/13 external c dependencies/test.json
Labels: dependency:cmake

#11758 intro: add more details to generated files(part 2)
  mesonbuild/mintro.py
  unittests/allplatformstests.py
Labels: introspection

#11701 handle more gettext variants
  mesonbuild/modules/i18n.py
Labels: module:i18n

#11812 azure pipelines: fix branch patterns to support 1.x release branches
  azure-pipelines.yml
Labels: CI
