Repository mesonbuild/meson, pull requests merged in 2023-07, with the labels that each got.

#11927 environment: separate illumos and Solaris kernels in Machines
  docs/markdown/Reference-tables.md
  mesonbuild/environment.py
Labels: OS:solaris/illumos

#11924 Do a better job of detecting libc++ vs libstdc++
  mesonbuild/compilers/cpp.py
Labels: compilers

#11949 compilers/cpp: check libc++ vs libstdc++ harder
  mesonbuild/compilers/cpp.py
Labels: compilers

#11583 cmake: fix directory separators in generated packageConfig.cmake files
  mesonbuild/modules/cmake.py
  test cases/cmake/26 cmake package prefix dir/cmakePackagePrefixDirConfig.cmake.in
  test cases/cmake/26 cmake package prefix dir/meson.build
  test cases/cmake/26 cmake package prefix dir/test.json
Labels: module:cmake

#11979 rust: disable overflow-checks by default
  mesonbuild/compilers/rust.py
  test cases/rust/5 polyglot static/clib.c
  test cases/rust/5 polyglot static/meson.build
  test cases/rust/5 polyglot static/overflow_size_checks.py
  test cases/rust/5 polyglot static/stuff.rs
Labels: language:rust

#11976 Some various type related cleanups
  mesonbuild/backend/ninjabackend.py
  mesonbuild/compilers/asm.py
  mesonbuild/compilers/compilers.py
  mesonbuild/compilers/cpp.py
  mesonbuild/compilers/d.py
  mesonbuild/compilers/fortran.py
  mesonbuild/compilers/mixins/ccrx.py
  mesonbuild/compilers/mixins/clang.py
  mesonbuild/compilers/mixins/clike.py
  mesonbuild/compilers/mixins/compcert.py
  mesonbuild/compilers/mixins/elbrus.py
  mesonbuild/compilers/mixins/emscripten.py
  mesonbuild/compilers/mixins/gnu.py
  mesonbuild/compilers/mixins/intel.py
  mesonbuild/compilers/mixins/islinker.py
  mesonbuild/compilers/mixins/metrowerks.py
  mesonbuild/compilers/mixins/ti.py
  mesonbuild/compilers/mixins/visualstudio.py
  mesonbuild/compilers/vala.py
  mesonbuild/coredata.py
  mesonbuild/environment.py
  mesonbuild/linkers/linkers.py
  mesonbuild/utils/universal.py
Labels: typing

#11993 cmake: find dependencies with bare library names on all platforms
  mesonbuild/cmake/tracetargets.py
Labels: dependency:cmake

#11967 cmake: fix empty BOOL generator expression evaluating to true
  mesonbuild/cmake/generator.py
Labels: dependency:cmake
