Repository mesonbuild/meson, pull requests merged in 2023-06, with the labels that each got.

#10452 pkgconfig: Add include directories from internal deps in -unintalled.pc
  mesonbuild/modules/pkgconfig.py
  test cases/common/44 pkgconfig-gen/dependencies/meson.build
  test cases/common/44 pkgconfig-gen/dependencies/test2.c
  test cases/common/44 pkgconfig-gen/inc1/inc1.h
  test cases/common/44 pkgconfig-gen/inc2/inc2.h
  test cases/common/44 pkgconfig-gen/meson.build
  test cases/common/44 pkgconfig-gen/test.json
Labels: module:pkgconfig

#11733 dependencies/llvm: strip default include dirs
  mesonbuild/dependencies/base.py
  mesonbuild/dependencies/dev.py
  mesonbuild/environment.py
  mesonbuild/linkers/linkers.py
Labels: module:rust

#11850 Archive shared library in AIX
  mesonbuild/backend/ninjabackend.py
  mesonbuild/compilers/compilers.py
  mesonbuild/envconfig.py
  mesonbuild/linkers/linkers.py
  mesonbuild/minstall.py
Labels: OS:AIX

#11902 Rust module enhancements for mesa
  docs/markdown/Machine-files.md
  docs/markdown/Rust-module.md
  docs/markdown/snippets/rust_bindegen_extra_args.md
  docs/markdown/snippets/rust_extra_clang_bindgen_arguments.md
  docs/markdown/snippets/rust_test_link_with.md
  mesonbuild/backend/ninjabackend.py
  mesonbuild/build.py
  mesonbuild/envconfig.py
  mesonbuild/modules/rust.py
  test cases/rust/20 rust and cpp/lib.cpp
  test cases/rust/20 rust and cpp/lib.hpp
  test cases/rust/20 rust and cpp/main.rs
  test cases/rust/20 rust and cpp/meson.build
  test cases/rust/20 rust and cpp/test.json
  test cases/rust/9 unit tests/helper.rs
  test cases/rust/9 unit tests/meson.build
  test cases/rust/9 unit tests/test3.rs
  unittests/machinefiletests.py
Labels: module:rust
