Repository mesonbuild/meson, pull requests merged in 2023-09, with the labels that each got.

#10988 gnome: Fix glib tool lookup consistency
  mesonbuild/modules/gnome.py
Labels: gnome, gstreamer, module:gnome

#12186 Override config-tool get_variable args for qmake
  mesonbuild/dependencies/configtool.py
  mesonbuild/dependencies/qt.py
  test cases/frameworks/4 qt/meson.build
Labels: dependencies, qt

#11992 Recognise more include search path opts when populating 'NMakeIncludeSearchPath'...
  mesonbuild/backend/vs2010backend.py
Labels: backend:xcode

#12283 rust: pass global and project C args to clang in bindgen
  mesonbuild/modules/rust.py
  test cases/rust/12 bindgen/meson.build
  test cases/rust/12 bindgen/src/global-project.h
  test cases/rust/12 bindgen/src/global.c
  test cases/rust/12 bindgen/src/global.rs
  test cases/rust/12 bindgen/test.json
Labels: module:rust

#12269 Update environment.py
  mesonbuild/environment.py
Labels: OS:solaris/illumos

#12122 Use typed_kwargs for static_library exclusive keyword arguments
  mesonbuild/build.py
  mesonbuild/interpreter/kwargs.py
  mesonbuild/interpreter/type_checking.py
Labels: typing
