Repository mesonbuild/meson, pull requests merged in 2024-09, with the labels that each got.

#13548 modules/gnome: Make 'gnome.yelp()' install actual media with symlinks
  mesonbuild/modules/gnome.py
Labels: module:gnome

#13572 mformat: provide nice error message instead of traceback for invalid value
  mesonbuild/mformat.py
Labels: tool:format

#13582 mformat: regenerate long lines even if they're already multiline
  mesonbuild/mformat.py
  test cases/format/4 config/indentation.meson
Labels: tool:format

#13583 mformat: detect invalid config files
  mesonbuild/mformat.py
  unittests/platformagnostictests.py
Labels: tool:format

#13580 mformat: better handling of continuation lines
  mesonbuild/mformat.py
  mesonbuild/mparser.py
  test cases/format/1 default/meson.build
  test cases/format/1 default/meson.options
Labels: tool:format

#13630 Make machinefile.py typesafe
  mesonbuild/machinefile.py
  run_mypy.py
Labels: typing

#13634 interpreterbase: Use explicit `TypeAlias` annotation to allow recursive types
  mesonbuild/interpreterbase/baseobjects.py
Labels: typing

#13603 cmake: actually print the cycle in the error message
  mesonbuild/cmake/interpreter.py
Labels: module:cmake

#13647 Prevent raw exception during project()
  mesonbuild/interpreter/interpreterobjects.py
  test cases/failing/132 module use inside project decl/meson.build
  test cases/failing/132 module use inside project decl/test.json
Labels: bug

#13632 qt module: allow has_tools to specify which tools to check
  docs/markdown/Qt6-module.md
  docs/markdown/snippets/qt_has_tools_ignore.md
  mesonbuild/modules/_qt.py
  test cases/frameworks/4 qt/meson.build
  test cases/frameworks/4 qt/meson_options.txt
  unittests/linuxliketests.py
Labels: module:qt

#13486 compiler,rust: fix sanity check and internal deps for baremetal rust …
  mesonbuild/build.py
  mesonbuild/compilers/rust.py
Labels: language:rust

#13712 linkers: Fix linker detection with clang on Solaris
  mesonbuild/linkers/detect.py
  unittests/allplatformstests.py
Labels: OS:solaris/illumos

#13714 programs: Store the project version when overriding find_program
  mesonbuild/interpreter/mesonmain.py
  mesonbuild/programs.py
Labels: subprojects/wraps
