Repository mesonbuild/meson, pull requests merged in 2024-07, with the labels that each got.

#13361 backend: xcode fix map access in generate_pbx_sources_build_phase for…
  mesonbuild/backend/xcodebackend.py
Labels: backend:xcode

#13038 dependencies: find extraframeworks on case-sensitive filesystems
  mesonbuild/dependencies/framework.py
  test cases/osx/11 case sensitive apfs/meson.build
  test cases/osx/11 case sensitive apfs/prog.c
  test cases/osx/11 case sensitive apfs/test.json
Labels: OS:macos

#13360 Refactor duplicated quoting code for XCode backend
  mesonbuild/backend/xcodebackend.py
Labels: backend:xcode

#13472 wrap: Use OSError instead of URLError for exception handling
  mesonbuild/wrap/wrap.py
Labels: subprojects/wraps

#13481 Fix some small typing issues in interpreter.py
  mesonbuild/build.py
  mesonbuild/interpreter/interpreter.py
  mesonbuild/interpreter/kwargs.py
Labels: parser/interpreter, typing
