Repository mesonbuild/meson, pull requests merged in 2024-03, with the labels that each got.

#12804 Support `meson dist` when getting project versions from VCS
  docs/markdown/Creating-releases.md
  docs/markdown/Reference-tables.md
  docs/yaml/builtins/meson.yaml
  mesonbuild/mdist.py
  test cases/unit/35 dist script/subprojects/sub/dist-script.py
  test cases/unit/35 dist script/subprojects/sub/meson.build
  test cases/unit/35 dist script/subprojects/sub/version-test.py
Labels: rewriter

#12938 cuda: respect host compiler `-Werror`
  mesonbuild/compilers/cuda.py
Labels: language:cuda

#12965 compilers: cpp: improve libc++ vs libstdc++ detection (again)
  mesonbuild/compilers/cpp.py
Labels: compilers, language:c++

#12989 cmake: fix incorrect decorator for append_link_args
  mesonbuild/modules/cmake.py
Labels: module:cmake
