Repository mesonbuild/meson, pull requests merged in 2024-04, with the labels that each got.

#12947 cmake: best-effort build type propagation
  mesonbuild/cmake/interpreter.py
Labels: module:cmake

#11737 backends: Add Nasm build rules to Xcode
  mesonbuild/backend/backends.py
  mesonbuild/backend/xcodebackend.py
  mesonbuild/compilers/asm.py
  test cases/nasm/1 configure file/meson.build
  test cases/nasm/2 asm language/meson.build
  test cases/nasm/3 nasm only/meson.build
  test cases/nasm/4 through configure/dummy.asm.in
  test cases/nasm/4 through configure/dummy.def
  test cases/nasm/4 through configure/meson.build
Labels: backend:xcode, language:asm

#13055 Add a few more notes to the style guide
  docs/markdown/Style-guide.md
Labels: documentation

#13125 Fix compiler.links for vala
  mesonbuild/compilers/vala.py
  test cases/vala/29 compiler.links/meson.build
Labels: language:vala

#13135 rust: Fix warning_level=everything case
  mesonbuild/compilers/rust.py
Labels: language:rust

#13097 Added NumPy to users
  docs/markdown/Users.md
Labels: documentation

#13160 fix typos and grammars in Build-options.md
  docs/markdown/Build-options.md
Labels: documentation

#13162 Fix dependencies for vala.links
  mesonbuild/compilers/vala.py
  test cases/vala/30 dependencies for compiler.links/meson.build
Labels: language:vala
