Repository mesonbuild/meson, pull requests merged in 2024-12, with the labels that each got.

#13962 Fix OTHER_CFLAGS order for Xcode backend
  mesonbuild/backend/xcodebackend.py
Labels: backend:xcode

#13837 Fix gir gst regression
  mesonbuild/build.py
  mesonbuild/interpreter/interpreter.py
  mesonbuild/interpreter/interpreterobjects.py
  test cases/frameworks/38 gir both_libraries/bar.c
  test cases/frameworks/38 gir both_libraries/bar.h
  test cases/frameworks/38 gir both_libraries/foo.c
  test cases/frameworks/38 gir both_libraries/foo.h
  test cases/frameworks/38 gir both_libraries/meson.build
  test cases/frameworks/38 gir both_libraries/test.json
Labels: regression, module:gnome

#13793 format: allow input from stdin
  docs/markdown/Commands.md
  docs/markdown/snippets/format_from_stdin.md
  mesonbuild/mformat.py
Labels: tool:format

#13867 Xcode backend: better quoting for spaces in HEADER_SEARCH_PATHS
  mesonbuild/backend/xcodebackend.py
Labels: backend:xcode

#14053 Fail gracefully when compiler cache is specified without compiler
  mesonbuild/envconfig.py
  unittests/failuretests.py
Labels: bug
