Repository mesonbuild/meson, pull requests merged in 2024-06, with the labels that each got.

#12816 Autogenerate Xcode projects by the detected version
  mesonbuild/backend/xcodebackend.py
Labels: backend:xcode

#12870 java: use single javac invocation per jar
  mesonbuild/backend/ninjabackend.py
Labels: language:java

#13303 Update the meson man page.
  man/meson.1
Labels: documentation

#12945 cargo: Load Cargo.lock
  docs/markdown/Wrap-dependency-system-manual.md
  docs/markdown/snippets/cargo_lock.md
  mesonbuild/cargo/__init__.py
  mesonbuild/cargo/interpreter.py
  mesonbuild/cargo/manifest.py
  mesonbuild/wrap/wrap.py
  run_unittests.py
  test cases/rust/25 cargo lock/Cargo.lock
  test cases/rust/25 cargo lock/meson.build
  test cases/rust/25 cargo lock/subprojects/packagecache/bar-0.1.tar.gz
  unittests/cargotests.py
Labels: language:rust

#13244 Fix meson format crash
  mesonbuild/mformat.py
  test cases/format/1 default/gh13242.meson
  test cases/format/1 default/meson.build
Labels: tool:format

#13318 mformat: fix else token not correctly indented
  mesonbuild/mformat.py
  test cases/format/1 default/indentation.meson
Labels: bug, tool:format

#13272 dependencies/boost.py: Allow getting `lib_dir` and `include_dir` via pkg-config
  mesonbuild/dependencies/boost.py
Labels: boost

#13257 cppm extension support
  mesonbuild/compilers/compilers.py
Labels: language:c++

#13301 Vs2010Backend: Fix REGEN.vcxproj not getting default debug config in …
  mesonbuild/backend/vs2010backend.py
Labels: backend:visualstudio

#13354 format: fix edge case with empty functions
  mesonbuild/mformat.py
  mesonbuild/mparser.py
  test cases/format/1 default/gh13242.meson
  test cases/format/1 default/meson.build
Labels: bug, tool:format
