Repository mesonbuild/meson, pull requests merged in 2025-10, with the labels that each got.

#15076 rust: fix detection of main file
  mesonbuild/backend/ninjabackend.py
  test cases/rust/13 external c dependencies/foo.h
  test cases/rust/13 external c dependencies/meson.build
Labels: bug, language:rust

#15065 cmake: warn about unknown generator expressions
  mesonbuild/cmake/generator.py
Labels: module:cmake

#15096 docs: Add vala_header, vala_vapi, and vala_gir to build_target docs
  docs/yaml/functions/_build_target_base.yaml
Labels: documentation
