Repository mesonbuild/meson, pull requests merged in 2025-09, with the labels that each got.

#15001 pkgconfig: Fix class cached to be keyed on extra_paths
  mesonbuild/dependencies/pkgconfig.py
  run_project_tests.py
  run_tests.py
Labels: regression

#15002 cuda: Add support for sbsa-linux target
  mesonbuild/dependencies/cuda.py
Labels: regression, language:cuda

#15043 format: Fix indentation with parentheses
  mesonbuild/mformat.py
  mesonbuild/mparser.py
  test cases/format/1 default/indentation.meson
  test cases/format/5 transform/default.expected.meson
  test cases/format/5 transform/muon.expected.meson
  test cases/format/5 transform/options.expected.meson
  test cases/format/5 transform/source.meson
Labels: tool:format
