Repository mesonbuild/meson, pull requests merged in 2025-02, with the labels that each got.

#14228 interpreter: fix swapped casts
  mesonbuild/interpreter/interpreter.py
Labels: typing

#14263 Add restat = 1 to Swift compile rule
  mesonbuild/backend/ninjabackend.py
Labels: language:swift

#14287 Permit all unknown b_ options.
  mesonbuild/msetup.py
  unittests/platformagnostictests.py
Labels: options

#14092 mtest: add option to slice tests
  docs/markdown/Unit-tests.md
  docs/markdown/snippets/test-slicing.md
  man/meson.1
  mesonbuild/mtest.py
  test cases/unit/124 test slice/meson.build
  test cases/unit/124 test slice/test.py
  unittests/allplatformstests.py
Labels: meson tests

#13980 test: fix hang when running tests that need parsing with `--interactive`
  mesonbuild/mtest.py
  test cases/unit/124 interactive tap/meson.build
  test cases/unit/124 interactive tap/script.py
  unittests/allplatformstests.py
Labels: test targets

#14259 Fix Swift targets with same module name as source file name
  mesonbuild/backend/ninjabackend.py
  test cases/swift/13 file name matches module name/Library.swift
  test cases/swift/13 file name matches module name/Library2.swift
  test cases/swift/13 file name matches module name/main.swift
  test cases/swift/13 file name matches module name/meson.build
Labels: language:swift
