Repository mesonbuild/meson, pull requests merged in 2025-06, with the labels that each got.

#14597 cmake: Fix target_link_libraries against project targets
  mesonbuild/cmake/interpreter.py
  mesonbuild/cmake/tracetargets.py
Labels: bug, module:cmake

#14564 vala: Pass --shared-library to valac when generating a .gir file
  mesonbuild/backend/ninjabackend.py
Labels: bug, language:vala

#14671 AstInterpreter: Fix crash when dead code references variables that are never assigned
  mesonbuild/ast/interpreter.py
  mesonbuild/interpreterbase/__init__.py
  mesonbuild/interpreterbase/baseobjects.py
  test cases/rewrite/7 tricky dataflow/addSrc.json
  test cases/rewrite/7 tricky dataflow/info.json
  test cases/rewrite/7 tricky dataflow/meson.build
  test cases/unit/120 rewrite/meson.build
  unittests/rewritetests.py
Labels: regression, introspection

#14703 compilers: pgi: fix preprocessing arguments
  mesonbuild/compilers/mixins/pgi.py
Labels: bug, compilers

#14732 compilers-fortran: Fix preprocessing when fortran uses concat operator
  mesonbuild/compilers/fortran.py
  mesonbuild/compilers/mixins/gnu.py
  test cases/fortran/23 preprocess/main.f90
  test cases/fortran/23 preprocess/meson.build
Labels: language:fortran
