Repository mesonbuild/meson, pull requests merged in 2025-07, with the labels that each got.

#14724 Add -F compiler flag for included MacOS frameworks
  mesonbuild/cmake/tracetargets.py
Labels: OS:macos, module:cmake

#14768 qt dependency: Don't insert backslashes into cflags on windows
  mesonbuild/dependencies/qt.py
Labels: OS:windows, qt, pkgconfig

#13903 wrap: Print deprecation warnings when using wrapdb v1
  docs/markdown/snippets/wrapdbv1.md
  mesonbuild/wrap/wrap.py
Labels: subprojects/wraps

#14799 Always add libdirs to rustc command
  mesonbuild/backend/ninjabackend.py
Labels: language:rust

#14814 fix yielding options in the toplevel project
  mesonbuild/options.py
  unittests/optiontests.py
Labels: regression, options

#14824 Docs: standardize between list and array as array
  docs/markdown/Release-notes-for-0.38.0.md
  docs/markdown/Syntax.md
  docs/markdown/Yaml-RefMan.md
  docs/markdown/i18n-module.md
  docs/yaml/builtins/meson.yaml
  docs/yaml/elementary/array.yml
  docs/yaml/elementary/dict.yml
  docs/yaml/elementary/str.yml
  docs/yaml/functions/_build_target_base.yaml
  docs/yaml/functions/add_global_arguments.yaml
  docs/yaml/functions/add_test_setup.yaml
  docs/yaml/functions/benchmark.yaml
  docs/yaml/functions/build_target.yaml
  docs/yaml/functions/configure_file.yaml
  docs/yaml/functions/custom_target.yaml
  docs/yaml/functions/debug.yaml
  docs/yaml/functions/declare_dependency.yaml
  docs/yaml/functions/dependency.yaml
  docs/yaml/functions/environment.yaml
  docs/yaml/functions/executable.yaml
  docs/yaml/functions/files.yaml
  docs/yaml/functions/find_program.yaml
  docs/yaml/functions/generator.yaml
  docs/yaml/functions/get_option.yaml
  docs/yaml/functions/install_data.yaml
  docs/yaml/functions/install_emptydir.yaml
  docs/yaml/functions/install_headers.yaml
  docs/yaml/functions/install_man.yaml
  docs/yaml/functions/install_subdir.yaml
  docs/yaml/functions/library.yaml
  docs/yaml/functions/message.yaml
  docs/yaml/functions/project.yaml
  docs/yaml/functions/run_command.yaml
  docs/yaml/functions/run_target.yaml
  docs/yaml/functions/shared_library.yaml
  docs/yaml/functions/structured_sources.yaml
  docs/yaml/functions/subdir.yaml
  docs/yaml/functions/subproject.yaml
  docs/yaml/functions/summary.yaml
  docs/yaml/functions/vcs_tag.yaml
  docs/yaml/objects/cfg_data.yaml
  docs/yaml/objects/compiler.yaml
  docs/yaml/objects/custom_tgt.yaml
  docs/yaml/objects/dep.yaml
  docs/yaml/objects/generator.yaml
Labels: documentation

#14298 Add -parse-as-library to Swift library targets
  docs/markdown/snippets/swift-parse-as-library.md
  mesonbuild/backend/ninjabackend.py
  mesonbuild/compilers/swift.py
  test cases/swift/14 single-file library/main.swift
  test cases/swift/14 single-file library/meson.build
  test cases/swift/14 single-file library/singlefile.swift
  test cases/swift/15 main in single-file library/main.swift
  test cases/swift/15 main in single-file library/meson.build
  test cases/swift/15 main in single-file library/module.modulemap
  test cases/swift/15 main in single-file library/program.c
  test cases/swift/15 main in single-file library/program.h
  test cases/swift/16 main in multi-file library/main.swift
  test cases/swift/16 main in multi-file library/meson.build
  test cases/swift/16 main in multi-file library/module.modulemap
  test cases/swift/16 main in multi-file library/more.swift
  test cases/swift/16 main in multi-file library/program.c
  test cases/swift/16 main in multi-file library/program.h
  test cases/swift/8 extra args/lib.swift
  test cases/swift/8 extra args/main.swift
  test cases/swift/8 extra args/meson.build
Labels: language:swift

#14568 Replace deprecated setup.py install command
  run_meson_command_tests.py
Labels: bug, meson tests
