Repository mesonbuild/meson, pull requests merged in 2025-03, with the labels that each got.

#14297 swift: Add lang_version compiler option
  mesonbuild/compilers/swift.py
Labels: language:swift

#14283 modules/gnome: Allow to specify the doc-format argument
  docs/markdown/Gnome-module.md
  mesonbuild/modules/gnome.py
  test cases/frameworks/7 gnome/gir/meson.build
Labels: module:gnome

#14315 docs: Mention deprecation of path(), document full_path()
  docs/markdown/Python-module.md
Labels: documentation, modules:python

#14319 options: Fix nullability of OptionKey.subproject
  mesonbuild/options.py
Labels: refactoring, typing

#13555 dependencies/dub: First try to describe local project
  ci/ciimage/opensuse/install.sh
  ci/ciimage/ubuntu-rolling/install.sh
  mesonbuild/dependencies/dub.py
  test cases/d/11 dub/meson.build
  test cases/d/17 dub and meson project/.gitignore
  test cases/d/17 dub and meson project/dub.json
  test cases/d/17 dub and meson project/dub.selections.json
  test cases/d/17 dub and meson project/meson.build
  test cases/d/17 dub and meson project/multi-configuration/.gitignore
  test cases/d/17 dub and meson project/multi-configuration/dub.json
  test cases/d/17 dub and meson project/multi-configuration/dub.selections.json
  test cases/d/17 dub and meson project/multi-configuration/source/app.d
  test cases/d/17 dub and meson project/multi-configuration/source/foo.d
  test cases/d/17 dub and meson project/source/app.d
  test cases/d/17 dub and meson project/x/y/z/dub.json
  test cases/d/17 dub and meson project/x/y/z/dub.selections.json
  test cases/d/17 dub and meson project/x/y/z/meson.build
  test cases/failing/133 dub missing dependency/dub.json
  test cases/failing/133 dub missing dependency/dub.selections.json
  test cases/failing/133 dub missing dependency/meson.build
  test cases/failing/133 dub missing dependency/source/app.d
  test cases/failing/133 dub missing dependency/test.json
Labels: language:D

#14339 doc: fix sentence about cross-compilation.
  docs/markdown/Cross-compilation.md
Labels: documentation

#14341 Broken clang-tidy{,-fix} targets when precompiled headers are in use
  mesonbuild/backend/ninjabackend.py
Labels: bug, backend:ninja

#14357 modules/gnome: header argument of generate_gir accepts an array of strings
  docs/markdown/Gnome-module.md
Labels: documentation, module:gnome

#14351 mesonbuild/compilers/detect.py: Support Open D ldc and dmd
  mesonbuild/compilers/detect.py
Labels: language:D

#14340 linkers: darwin: do not use -bundle for shared_modules
  docs/markdown/Builtin-options.md
  mesonbuild/linkers/linkers.py
Labels: OS:macos, dynamic linkers

#14397 envconfig: fix unhandled exception when cross-file lacks required keys
  mesonbuild/envconfig.py
Labels: exception
