Repository mesonbuild/meson, pull requests merged in 2025-08, with the labels that each got.

#14540 Fixes for meson format from stdin using editor config
  docs/markdown/Commands.md
  docs/markdown/snippets/meson-format-stdin-editorconfig.md
  mesonbuild/mformat.py
Labels: tool:format

#14872 build: fix introspection interpreter issue when project selects Rust
  mesonbuild/build.py
  test cases/rust/20 rust and cpp/meson.build
  unittests/allplatformstests.py
Labels: compilers, regression, language:rust

#14901 rewriter: fix UnknownValues in build targets
  mesonbuild/build.py
  test cases/unit/58 introspect buildoptions/meson.build
Labels: regression, introspection

#14898 ninjabackend: pass objects to doctests
  mesonbuild/backend/ninjabackend.py
  test cases/rust/27 objects/lib1-dylib.rs
  test cases/rust/27 objects/meson.build
Labels: regression, test targets, language:rust

#14920 gnome: Restore dependency of g-ir-scanner on gobject-introspection
  mesonbuild/modules/gnome.py
Labels: regression

#14882 format: do not group '--' arg
  mesonbuild/mformat.py
Labels: tool:format

#14861 mformat: force multiline arguments with comma
  mesonbuild/mformat.py
  test cases/format/1 default/indentation.meson
Labels: tool:format

#14914 rustdoc: skip --crate-type option
  mesonbuild/scripts/rustdoc.py
Labels: language:rust

#14941 test cases/common/32 has header: disable undef with libcxx
  test cases/common/32 has header/meson.build
Labels: meson tests, language:c++

#14657 Prototype support for PEP 739 (continued)
  docs/markdown/Builtin-options.md
  mesonbuild/dependencies/pkgconfig.py
  mesonbuild/dependencies/python.py
  mesonbuild/modules/python.py
  mesonbuild/options.py
  test cases/unit/125 python extension/foo.c
  test cases/unit/125 python extension/meson.build
  unittests/allplatformstests.py
Labels: modules:python
